<header class="navbar sticky-top flex-md-nowrap p-0 "
    style="background-color: white;box-shadow: 0 0 2rem 0 rgba(41,48,66,.1);">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-5" href="#">Company name</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation"
        style="margin-right: 3.5rem;">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="dropdown text-end" style="margin-right: 1rem;">
        <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown"
            aria-expanded="false">
            <i class="fa-solid fa-circle-user"></i> Juan Perez
        </a>
        <ul class="dropdown-menu text-small dropdown-menu-end">
            <li><a class="dropdown-item" href="#">Actualizar Password</a></li>
            <li><a class="dropdown-item" href="#">Configuración</a></li>
            <li><a class="dropdown-item" href="#">Perfil</a></li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Salir</a></li>
        </ul>
    </div>
</header>