<div class="card border rounded-3" style="font-size: 1rem;">
  <div class="card-body">

<form action="/codes/update" method="post">
  <input type="hidden" id="id" name="id" value="<%= code._id.toString() %>">
  <div class="form-group">
    <label for="name">Titúlo</label>
    <input type="text" class="form-control" id="name" name="name" value="<%= code.name %>">
  </div>
  <div class="form-group">
    <label for="name">Plataforma</label>
    <select class="form-control" id="platform" name="platform">
      <option value="Node">Node</option>
      <option value="C#">C#</option>
      <option value="SharePoint">SharePoint</option>
      <option value="JavaScript">JavaScript</option>
      <option value="React">React</option>
    </select>
  </div>
  <div class="form-group">
    <label for="name">Lenguaje</label>
    <select class="form-control" id="lenguage" name="lenguage">
      <option value="ace/mode/csharp">csharp</option>
      <option value="ace/mode/css">css</option>
      <option value="ace/mode/ejs">ejs</option>
      <option value="ace/mode/html">html</option>
      <option value="ace/mode/java">java</option>
      <option value="ace/mode/javascript" selected>javascript</option>
      <option value="ace/mode/json">json</option>
      <option value="ace/mode/sql">sql</option>
    </select>
  </div>
  <div class="form-group">
    <label for="description">Descripción</label>
    <div id="editor" name="editor"><%- code.description %></div>
    <textarea id="description" name="description" style="display: none;"><%= code.description %></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Grabar</button>
</form>
</div>
</div>
<style>
  #editor {
    position: relative;
    height: 600px;
    width: 100%;
  }
</style>
<link href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.7.1/katex.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/monokai-sublime.min.css" rel="stylesheet">

<script src="//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.7.1/katex.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
<script src="https://cdn.quilljs.com/1.3.6/quill.min.js"></script>

<!--script src="//ajaxorg.github.io/ace-builds/src-min-noconflict/ace.js" type="text/javascript" charset="utf-8"></script-->
<script>

loadFonts();

var fonts = ['sofia', 'slabo', 'roboto', 'inconsolata', 'ubuntu'];
    var Font = Quill.import('formats/font');
    Font.whitelist = fonts;
    Quill.register(Font, true);

var quill = new Quill('#editor', {
  modules: {
        'syntax': true,
        'toolbar': [
          [{ 'font': fonts }, { 'size': [] }],
          [ 'bold', 'italic', 'underline', 'strike' ],
          [{ 'color': [] }, { 'background': [] }],
          [{ 'script': 'super' }, { 'script': 'sub' }],
          [{ 'header': '1' }, { 'header': '2' }, 'blockquote', 'code-block' ],
          [{ 'list': 'ordered' }, { 'list': 'bullet'}, { 'indent': '-1' }, { 'indent': '+1' }],
          [ {'direction': 'rtl'}, { 'align': [] }],
          [ 'link', 'image', 'video', 'formula' ],
          [ 'clean' ]
        ],
      },
  theme: 'snow'
});

$("form").submit(function () {
    var contenido = quill.root.innerHTML;
    $("#description").val(contenido);
});


function loadFonts() {
    window.WebFontConfig = {
      google: { families: [ 'Inconsolata::latin', 'Ubuntu+Mono::latin', 'Slabo+27px::latin', 'Roboto+Slab::latin' ] }
    };
    (function() {
      var wf = document.createElement('script');
      wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
      wf.type = 'text/javascript';
      wf.async = 'true';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(wf, s);
    })();
  }
</script>
<!-- <style>
  #description {
    position: relative;
    height: 400px;
    width: 100%;
  }
</style>

<script src="//ajaxorg.github.io/ace-builds/src-min-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
  var editor = ace.edit("description");
  editor.getSession().setUseWorker(false);
  editor.setTheme("ace/theme/monokai");
  editor.getSession().setMode("ace/mode/javascript");


  var textarea = $('textarea[name="description"]').hide();
  editor.getSession().setValue(textarea.val());
  editor.getSession().on('change', function() {
    textarea.val(editor.getSession().getValue());
  });

  $('#lenguage').on('change', function(ev) {
    var mode = $('option:selected').attr('value');
    //console.log(mode)
    editor.getSession().setMode(mode);
  });
</script> -->