<!--v1.0.0-->
<nav id="sidebar" class="sidebar">
    <div class="sidebar-content js-simplebar">
      <a class="sidebar-brand" href="/">
        <img src="/assets/img/logo.png" class="img-fluid" style="max-height: 37px;" />
      </a>
      <ul class="sidebar-nav" style="font-size: 16px;">      
        <li class="sidebar-item">
          <a class="sidebar-link" aria-current="page" href="/">Inicio</a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="/projects">Proyectos</a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="/tasks">Tareas</a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="/tasks/calendar">Calendario</a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="/diagrams">Diagramas</a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="/blogs">Blog</a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="/codes">Codes</a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="/accounts">Cuenta Corriente</a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="/persons">Empleados</a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="/budgets">Presupuesto</a>
        </li>
      </ul>
      
    </div>
  </nav>