<div class="main d-flex justify-content-center w-100" style="background-color: #000;">
  <main class="content d-flex p-0">
    <div class="container d-flex flex-column">
      <div class="row h-100">
        <div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
          <div class="d-table-cell align-middle">
            <div class="row justify-content-center mb-4">
              <div class="col-12 text-center">
                <img src="https://postgrado.ucsm.edu.pe/wp-content/uploads/2022/03/Grupo-1@2x.png" class="img-fluid"
                  style="max-height: 60px;">
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <div class="m-sm-4">
                  <form id="formLogin" action="/recoverypassword" method="post">
                    <h4>Recueprar contraseña</h3>
                    
                      <div class="mb-3 row">
                        <div class="col-sm-12">
                          <input type="email" class="form-control"  name="email" placeholder="Email" required>
                        </div>
                      </div>
                    
        
                    

                    

                    <div class="d-grid gap-2 mt-3">
                      <button type="submit" id="btnSubmit" class="btn btn-lg btn-primary"
                        style="background-color: #02B967;border-color: #02B967;">Recuperar
                        <i class="fa-solid fa-right-to-bracket"></i>
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </main>
</div>
