<div class="row">
  <div class="col-md-4 offset-md-4">
    <div class="card">
      <div class="card-body">    
        <form id="formLogin" action="/login" method="post">    
          <% if (messages.error) { %>
          <p class="error"><%= messages.error %></p>
          <% } else if (messages.success) { %>
          <p class="success"><%= messages.success %></p>
          <% } %>
          <div class="mb-3">
            <label class="form-label">Email</label>
            <input class="form-control form-control" type="email" id="username" name="username" placeholder="Email">
          </div>
          <div class="mb-3">
            <label class="form-label">Password</label>
            <div class="input-group">
              <input class="form-control fakepassword" type="password" placeholder="Contraseña" name="password" id="password" />
              <span class="input-group-text p-0" id="togglePassword">
                <i class="fakepasswordicon fa-solid fa-eye-slash cursor-pointer p-2 w-40px"></i>
              </span>
            </div>
          </div>
          <div class="d-grid gap-2 mt-3">
            <button type="submit" id="btnSubmit" class="btn btn-primary">Ingresar
              <i class="fa-solid fa-right-to-bracket"></i>
            </button>
          </div>
        </form>    
      </div>
    </div>
  </div>
</div>



<script>
  const form = document.getElementById('formLogin');
  const togglePassword = document.querySelector('#togglePassword');
  const password = document.querySelector('#password');

  togglePassword.addEventListener('click', function(e) {
    const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
    password.setAttribute('type', type);
    if (type === 'password') {
      togglePassword.innerHTML = '<i class="fakepasswordicon fa-solid fa-eye-slash cursor-pointer p-2 w-40px"></i>';
    } else {
      togglePassword.innerHTML = '<i class=" fakepasswordicon fa-solid fa-eye cursor-pointer p-2 w-40px"></i>';
    }
  });

  //form.addEventListener('submit', function (event) {
  //const btn = document.getElementById('btnSubmit');
  //btn.innerHTML = '<i class="fa-solid fa-spinner fa-spin-pulse"></i> Procesando';
  //btn.disabled = true;
  //});
</script>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    const form = document.querySelector('#formLogin');
    const btnAgregar = form.querySelector('#btnSubmit');

    // Función para restablecer el botón
    function resetButton() {
      btnAgregar.innerHTML = 'Entrar';
      btnAgregar.disabled = false;
    }

    // Escucha el evento submit del formulario
    form.addEventListener('submit', function(event) {
      btnAgregar.innerHTML = '<i class="fas fa-spinner fa-spin"></i> Cargando...';
      btnAgregar.disabled = true;

      // Restablece el botón cuando se carga la página nuevamente
      window.addEventListener('pageshow', function() {
        resetButton();
      });
    });

    // Llama a la función de restablecimiento al cargar la página
    resetButton();
  });
</script>