Create

<form action="/budgets/create" method="post">
  
  <div class="form-group">    
    <label for="group">Grupo</label>
    <input type="text" class="form-control" id="group" name="group"/>
  </div>
  <div class="form-group">    
    <label for="name">Titúlo</label>
    <input type="text" class="form-control" id="name" name="name"/>
  </div>
  <div class="form-group">
    <label for="money">Monto</label>
    <input type="text" class="form-control" id="money" name="money" value="0"/>
  </div>
  <button type="submit" class="btn btn-primary">Grabar</button>
</form>

<script>
</script>