Create

<form action="/budgets/update" method="post">
  <input type="hidden" id="id" name="id" value="<%= account._id.toString() %>">
  <div class="form-group">    
    <label for="group">Grupo</label>
    <input type="text" class="form-control" id="group" name="group" value="<%= account.group %>"/>
  </div>
  <div class="form-group">
    <label for="name">Titúlo</label>
    <input type="text" class="form-control" id="name" name="name" value="<%= account.name %>">
  </div>
  <div class="form-group">
    <label for="money">Monto</label>
    <input type="text" class="form-control" id="money" name="money"  value="<%= account.money %>"/>
  </div>
  <button type="submit" class="btn btn-primary">Grabar</button>
</form>

<script>
  $(function() {
    $("#date").datepicker({dateFormat : "yy-mm-dd"});    
  });
</script>