<nav id="sidebar" class="sidebar" >
    <div class="sidebar-content js-simplebar"  >
        <a class="sidebar-brand" href="/main">
            <img src="/assets_admin/img/logo_stemis.png" class="img-fluid" style="max-height: 70px;" />
        </a>
        <ul class="sidebar-nav" style="font-size: 16px;">
            <li class="sidebar-item">
                <a class="sidebar-link" href="/admin/main">
                    <i class="fa-solid fa-list"></i> <span class="align-middle">Inicio</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="/admin/users">
                    <i class="fa-solid fa-list"></i> <span class="align-middle">Usuarios</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="/admin/messages">
                    <i class="fa-solid fa-list"></i> <span class="align-middle">Mensajes</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="/admin/blogs">
                    <i class="fa-solid fa-list"></i> <span class="align-middle">Post</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="/admin/normativity">
                    <i class="fa-solid fa-list"></i> <span class="align-middle">Normatividad Básica</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="/admin/courses">
                    <i class="fa-solid fa-list"></i> <span class="align-middle">Cursos</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="/admin/colabs">
                    <i class="fa-solid fa-list"></i> <span class="align-middle">Colaboradores</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="/admin/settings">
                    <i class="fa-solid fa-list"></i> <span class="align-middle">Configuración</span>
                </a>
            </li>
        </ul>
    </div>
</nav>