<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">

      <!-- Logo Start -->
      <a class="navbar-brand" href="/">
        <img src="/assets/img/HOME PAGE/logo_stemis.png" style="max-width: 30%"class="img-fluid" alt="...">
      </a>
      <!-- Logo End -->
      <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
      aria-label="Toggle navigation" >
      <span class="text-body h6 d-none d-sm-inline-block">Menu</span>
      <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Main Navbar START -->
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <!-- Navigation -->
        <ul class="navbar-nav navbar-nav-scroll" style="margin-left: auto !important; font-size: 1rem">
          <li class="nav-item">
            <a class="nav-link" id="navbarLandings" href="/Simulador" style="color: #464D5B">
              Simulador
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="navbarLandings" href="http://cursos.stemis.com.pe/login/index.php" style="color: #464D5B">
              Cursos
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="navbarLandings" href="/Concursos" style="color: #464D5B">
              Concursos
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="navbarLandings" href="/Blog" style="color: #464D5B">
              Blog
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="navbarLandings" href="/Normatividad" style="color: #464D5B">
              Normatividad
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="navbarLandings" href="/Contacto" style="color: #464D5B">
              Contacto
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
