<div class="main d-flex justify-content-center w-100" >
  <main class="content d-flex p-0">
    <div class="container d-flex flex-column">
      <div class="row h-100">
        <div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
          <div class="d-table-cell align-middle">
            <div class="row justify-content-center mb-4">
              <div class="col-12 text-center">
                <img src="/img/logo.png" class="img-fluid" >
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <h3>Recuperar contraseña</h3>
                <p>Se le estará enviando un correo con una nueva contraseña la cual podra cambiarla el ingresar a la aplicacion.</p>
                <a class="btn btn-lg btn-primary" href="/login"
                  style="background-color: #0707bd;border-color: #0707bd;"> Login
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
  </main>
</div>