<!-- Section 1 concursos -->
<section style="color: #464D5B">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-4 col-sm-12 ps-md-6 ps-lg-10 aos-init aos-animate" data-aos="fade-up">
                <h1 class="text-md-start" style="font-size: 48px; font-weight: bolder;">
                    <span style="color: #259995;">Demuestra</span>
                    tus conocimientos y habilidades
                </h1>
                <p class="text-md-start mb-6 mb-lg-5" style="color: #464D5B; text-align: justify;">
                    Pon a prueba tus conocimientos con otros estudiantes y demuestra que posees las aptitudes necesarias para ser un futuro abogado.
                </p>
            </div>
            <div class="col-md-8 col-sm-12 d-flex justify-content-center">
                <img src="assets/img/CONCURSOS/CONCURSOS 1.png" style="max-width: 85%;" alt="..." data-aos="fade-down" data-aos-delay="100" class="aos-init aos-animate">
            </div>
        </div>
    </div>
</section>
<!-- Section 2 -->
<section class="mt-6 mb-10 mt-md-4" style="color:#464D5B">
    <div class="text-center align-items-center justify-content-center my-6 aos-init aos-animate" data-aos="fade-down">
        <h1 style="font-weight: bold;">
            <span style="color: #259995;">CONCURSOS</span>
            ANTERIORES
        </h1>
        <br>
    </div>
    <div class="row mt-6 mb-6">
        <div class="col-4 ps-12 d-flex justify-content-center align-items-center aos-init aos-animate" data-aos="fade-up">
            sTemis participó del Concurso Nacional Interuniversitario de Litigación Oral Civil, brindando soporte tecnológico por medio
            de nuestra herramienta sTemis Concursos.
        </div>
        <a href="http://concursos.stemis.com.pe/" class="col-8 aos-init aos-animate" data-aos="fade-left" data-aos-delay="0">
            <img style="max-width: 90%;" src="/assets/img/CONCURSOS/BANNER.png" alt>
        </a>

    </div>

</section>