<!-- ****** MAIN CONTENT START ****** -->
<main>
    <section class="" style="color: #464D5B">
        <div class="container-fluid">
            <div class="row align-items-center mb-12">
                <div class="col-md-4 col-sm-12 ps-md-6 ps-lg-10 aos-init aos-animate" data-aos="fade-up" data-aos-duration="500">
                    <h1 class="text-md-start" style="font-size: 54px; font-weight: bolder;">
                        Especialízate, <span style="color: #259995;">aprende</span> y crece con nosotros
                    </h1>
                    <p class="text-md-start mb-6 mb-lg-5" style="color: #464D5B; text-align: justify;">
                        sTemis busca un espacio de formación y reflexión sobre el derecho, siempre desde una óptica práctica.
                    </p>
                </div>
                <div class="col-md-8 col-sm-12">
                    <img src="assets/img/CURSOS/CURSO 1.png" style="max-width: 100%;" alt="..." data-aos="fade-down" data-aos-delay="100" class="aos-init aos-animate">
                </div>
            </div>
        </div>
    </section>
    <section class="pb-4 py-md-8 py-lg-8" style="color:#464D5B; background-color: #F4F4F4;">
        <div class="container">
            <div class="text-center align-items-center justify-content-center mt-6 mb-2 aos-init aos-animate" data-aos="fade-down">
                <h1 style="font-weight: bold;">VIVE DE UNA <span style="color:#259995">EXPERIENCIA</span> EDUCATIVA <span style="color:#259995">DISTINTA</span></h1>
                <br>
            </div>
            <div class="row mb-6" style="font-size: larger;">
                <div class="col-6 aos-init aos-animate" data-aos="fade-left" data-aos-delay="600">
                    <img style="max-width: 120%;" src="/assets/img/CURSOS/CURSO 2.png" alt="">
                </div>
                <div class="col-6 ps-12">
                    <div class="row">
                        <div class="col-12 py-2 aos-init aos-animate" data-aos="fade-right" data-aos-delay="0">
                            <h4 class="fw-bold">Aprende junto a tus docentes de forma práctica</h4>
                        </div>
                        <div class="col-12 py-2 aos-init aos-animate" style="font-size: 16px;" data-aos="fade-right" data-aos-delay="0">
                            <p>
                                Nuestros cursos son dictados, principalmente, de forma sincrónica; para que los alumnos tengan interacción directa con sus docentes y garantizar el máximo
                                aprendizaje.
                            </p>
                        </div>
                        <div class="col-12 py-2 aos-init aos-animate" style="font-size: 16px;" data-aos="fade-right" data-aos-delay="200">
                            <img style="width: 5%; padding-bottom: 0.5%;" src="/assets/img/CURSOS/check.png" alt="">
                            Uso de nuestra herramienta sTemis para la parte práctica.
                        </div>
                        <div class="col-12 py-2 aos-init aos-animate" style="font-size: 16px;" data-aos="fade-right" data-aos-delay="400">
                            <img style="width: 5%; padding-bottom: 0.5%;" src="/assets/img/CURSOS/check.png" alt=""> Simulación de audiencias para consolidad conocimientos.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="text-center align-items-center justify-content-center mt-8 mb-2 aos-init aos-animate" data-aos="fade-down">
                <h1 style="font-weight: bold; margin-top: 6rem;">CONOCE NUESTROS <span style="color:#259995">CURSOS</span></h1>
            </div>
    
            <div class="row pt-6">
                <div class="col-12 col-md-6 col-lg-4 d-flex aos-init aos-animate" data-aos="fade-right">
                    <!-- Card -->
                    <div class="card mb-6 mb-lg-0 shadow-light-lg lift lift-lg">
                        <!-- Image -->
                        <a class="card-img-top" href="#!">
                            <!-- Image -->
                            <img src="assets/img/CURSOS/IMAGEN 1.png" alt="..." class="card-img-top">
                            <!-- Shape -->
                            <div class="position-relative">
                                <div class="shape shape-bottom shape-fluid-x text-white">
                                    <svg viewBox="0 0 2880 480" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M2160 0C1440 240 720 240 720 240H0v240h2880V0h-720z" fill="currentColor"></path></svg>
                                </div>
                            </div>
                        </a>
                        <!-- Body -->
                        <a class="card-body" href="#!">
                            <span style="background-color: #259995; padding-block: 0%; color: white;" class="btn btn-sm mb-2">Derecho Civil</span>
                            <!-- Heading -->
                            <h3 class="fw-bold" style="color: #259995;">
                                Curso Práctico de Derecho Procesal <br> Civil
                            </h3>
                            <!-- Text -->
                            <p class="mb-0 text-muted">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock-history" viewBox="0 0 16 16">
                                    <path d="M8.515 1.019A7 7 0 0 0 8 1V0a8 8 0 0 1 .589.022l-.074.997zm2.004.45a7.003 7.003 0 0 0-.985-.299l.219-.976c.383.086.76.2 1.126.342l-.36.933zm1.37.71a7.01 7.01 0 0 0-.439-.27l.493-.87a8.025 8.025 0 0 1 .979.654l-.615.789a6.996 6.996 0 0 0-.418-.302zm1.834 1.79a6.99 6.99 0 0 0-.653-.796l.724-.69c.27.285.52.59.747.91l-.818.576zm.744 1.352a7.08 7.08 0 0 0-.214-.468l.893-.45a7.976 7.976 0 0 1 .45 1.088l-.95.313a7.023 7.023 0 0 0-.179-.483zm.53 2.507a6.991 6.991 0 0 0-.1-1.025l.985-.17c.067.386.106.778.116 1.17l-1 .025zm-.131 1.538c.033-.17.06-.339.081-.51l.993.123a7.957 7.957 0 0 1-.23 1.155l-.964-.267c.046-.165.086-.332.12-.501zm-.952 2.379c.184-.29.346-.594.486-.908l.914.405c-.16.36-.345.706-.555 1.038l-.845-.535zm-.964 1.205c.122-.122.239-.248.35-.378l.758.653a8.073 8.073 0 0 1-.401.432l-.707-.707z"></path>
                                    <path d="M8 1a7 7 0 1 0 4.95 11.95l.707.707A8.001 8.001 0 1 1 8 0v1z"></path>
                                    <path d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5z"></path>
                                </svg> 3 semanas
                            </p>
                        </a>
                        <div class="card-footer text-center" href="">
                            <a class="btn btn-sm pt-1 pb-1 w-100" style="background-color: #259995; color:white;" href="">
                                <!-- <svg style="fill: #FFFFFF;" width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M0 24C0 10.7 10.7 0 24 0H69.5c22 0 41.5 12.8 50.6 32h411c26.3 0 45.5 25 38.6 50.4l-41 152.3c-8.5 31.4-37 53.3-69.5 53.3H170.7l5.4 28.5c2.2 11.3 12.1 19.5 23.6 19.5H488c13.3 0 24 10.7 24 24s-10.7 24-24 24H199.7c-34.6 0-64.3-24.6-70.7-58.5L77.4 54.5c-.7-3.8-4-6.5-7.9-6.5H24C10.7 48 0 37.3 0 24zM128 464a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm336-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z"/></svg>
                                 39.90 -->
                                PRÓXIMAMENTE
                            </a>
                        </div>
                    </div>
                </div>
    
                <div class="col-12 col-md-6 col-lg-4 d-flex aos-init aos-animate" data-aos="fade-up">
                    <!-- Card -->
                    <div class="card mb-6 mb-lg-0 shadow-light-lg lift lift-lg">
                        <!-- Image -->
                        <a class="card-img-top" href="#!">
                            <!-- Image -->
                            <img src="assets/img/CURSOS/IMAGEN 3.png" alt="..." class="card-img-top">
                            <!-- Shape -->
                            <div class="position-relative">
                                <div class="shape shape-bottom shape-fluid-x text-white">
                                    <svg viewBox="0 0 2880 480" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M2160 0C1440 240 720 240 720 240H0v240h2880V0h-720z" fill="currentColor"></path></svg>
                                </div>
                            </div>
                        </a>
                        <!-- Body -->
                        <a class="card-body" href="#!">
                            <span style="background-color: #259995; padding-block: 0%; color: white;" class="btn btn-sm mb-2">Derecho Familiar</span>
                            <!-- Heading -->
                            <h3 class="fw-bold" style="color: #259995;">
                                Cómo aumentar la cuantía en un juicio de alimentos
                            </h3>
                            <!-- Text -->
                            <p class="mb-0 text-muted">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock-history" viewBox="0 0 16 16">
                                    <path d="M8.515 1.019A7 7 0 0 0 8 1V0a8 8 0 0 1 .589.022l-.074.997zm2.004.45a7.003 7.003 0 0 0-.985-.299l.219-.976c.383.086.76.2 1.126.342l-.36.933zm1.37.71a7.01 7.01 0 0 0-.439-.27l.493-.87a8.025 8.025 0 0 1 .979.654l-.615.789a6.996 6.996 0 0 0-.418-.302zm1.834 1.79a6.99 6.99 0 0 0-.653-.796l.724-.69c.27.285.52.59.747.91l-.818.576zm.744 1.352a7.08 7.08 0 0 0-.214-.468l.893-.45a7.976 7.976 0 0 1 .45 1.088l-.95.313a7.023 7.023 0 0 0-.179-.483zm.53 2.507a6.991 6.991 0 0 0-.1-1.025l.985-.17c.067.386.106.778.116 1.17l-1 .025zm-.131 1.538c.033-.17.06-.339.081-.51l.993.123a7.957 7.957 0 0 1-.23 1.155l-.964-.267c.046-.165.086-.332.12-.501zm-.952 2.379c.184-.29.346-.594.486-.908l.914.405c-.16.36-.345.706-.555 1.038l-.845-.535zm-.964 1.205c.122-.122.239-.248.35-.378l.758.653a8.073 8.073 0 0 1-.401.432l-.707-.707z"></path>
                                    <path d="M8 1a7 7 0 1 0 4.95 11.95l.707.707A8.001 8.001 0 1 1 8 0v1z"></path>
                                    <path d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5z"></path>
                                </svg> 3 semanas
                            </p>
                        </a>
                        <div class="card-footer text-center" href="">
                            <a class="btn btn-sm pt-1 pb-1 w-100" style="background-color: #259995; color:white;" href="">
                                <!-- <svg style="fill: #FFFFFF;" width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M0 24C0 10.7 10.7 0 24 0H69.5c22 0 41.5 12.8 50.6 32h411c26.3 0 45.5 25 38.6 50.4l-41 152.3c-8.5 31.4-37 53.3-69.5 53.3H170.7l5.4 28.5c2.2 11.3 12.1 19.5 23.6 19.5H488c13.3 0 24 10.7 24 24s-10.7 24-24 24H199.7c-34.6 0-64.3-24.6-70.7-58.5L77.4 54.5c-.7-3.8-4-6.5-7.9-6.5H24C10.7 48 0 37.3 0 24zM128 464a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm336-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z"/></svg>
                                 39.90 -->
                                PRÓXIMAMENTE
                            </a>
                        </div>
                    </div>
                </div>
    
                <div class="col-12 col-md-6 col-lg-4 d-flex aos-init aos-animate" data-aos="fade-left">
                    <!-- Card -->
                    <div class="card mb-6 mb-md-0 shadow-light-lg lift lift-lg">
                        <!-- Image -->
                        <a class="card-img-top" href="#!">
                            <!-- Image -->
                            <img src="assets/img/CURSOS/IMAGEN 2.png" alt="..." class="card-img-top">
                            <!-- Shape -->
                            <div class="position-relative">
                                <div class="shape shape-bottom shape-fluid-x text-white">
                                    <svg viewBox="0 0 2880 480" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M2160 0C1440 240 720 240 720 240H0v240h2880V0h-720z" fill="currentColor"></path></svg>
                                </div>
                            </div>
                        </a>
                        <!-- Body -->
                        <a class="card-body" href="#!">
                            <span style="background-color: #259995; padding-block: 0%; color: white;" class="btn btn-sm mb-2">Derecho Civil</span>
                            <!-- Heading -->
                            <h3 class="fw-bold" style="color: #259995;">
                                Identificación de errores judiciales en resoluciones
                            </h3>
                            <!-- Text -->
                            <p class="mb-0 text-muted">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock-history" viewBox="0 0 16 16">
                                    <path d="M8.515 1.019A7 7 0 0 0 8 1V0a8 8 0 0 1 .589.022l-.074.997zm2.004.45a7.003 7.003 0 0 0-.985-.299l.219-.976c.383.086.76.2 1.126.342l-.36.933zm1.37.71a7.01 7.01 0 0 0-.439-.27l.493-.87a8.025 8.025 0 0 1 .979.654l-.615.789a6.996 6.996 0 0 0-.418-.302zm1.834 1.79a6.99 6.99 0 0 0-.653-.796l.724-.69c.27.285.52.59.747.91l-.818.576zm.744 1.352a7.08 7.08 0 0 0-.214-.468l.893-.45a7.976 7.976 0 0 1 .45 1.088l-.95.313a7.023 7.023 0 0 0-.179-.483zm.53 2.507a6.991 6.991 0 0 0-.1-1.025l.985-.17c.067.386.106.778.116 1.17l-1 .025zm-.131 1.538c.033-.17.06-.339.081-.51l.993.123a7.957 7.957 0 0 1-.23 1.155l-.964-.267c.046-.165.086-.332.12-.501zm-.952 2.379c.184-.29.346-.594.486-.908l.914.405c-.16.36-.345.706-.555 1.038l-.845-.535zm-.964 1.205c.122-.122.239-.248.35-.378l.758.653a8.073 8.073 0 0 1-.401.432l-.707-.707z"></path>
                                    <path d="M8 1a7 7 0 1 0 4.95 11.95l.707.707A8.001 8.001 0 1 1 8 0v1z"></path>
                                    <path d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5z"></path>
                                </svg> 3 semanas
                            </p>
                        </a>
                        <div class="card-footer text-center" href="">
                            <a class="btn btn-sm pt-1 pb-1 w-100" style="background-color: #259995; color:white;" href="">
                                <!-- <svg style="fill: #FFFFFF;" width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M0 24C0 10.7 10.7 0 24 0H69.5c22 0 41.5 12.8 50.6 32h411c26.3 0 45.5 25 38.6 50.4l-41 152.3c-8.5 31.4-37 53.3-69.5 53.3H170.7l5.4 28.5c2.2 11.3 12.1 19.5 23.6 19.5H488c13.3 0 24 10.7 24 24s-10.7 24-24 24H199.7c-34.6 0-64.3-24.6-70.7-58.5L77.4 54.5c-.7-3.8-4-6.5-7.9-6.5H24C10.7 48 0 37.3 0 24zM128 464a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm336-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z"/></svg>
                                 39.90 -->
                                PRÓXIMAMENTE
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- BRANDS -->
    <section class="mt-12 pb-4" style="color:#464D5B">
        <div class="container-fluid">
            <div class="text-center align-items-center justify-content-center mt-3 aos-init aos-animate" data-aos="fade-down">
                <h1 style="font-weight: bold;"><span style="color:#259995">CURSOS</span> ANTERIORES</h1>
                <br>
            </div>
            <div class="row">
                <div class="col-4 ps-12 d-flex align-items-center">
                    <div class="row">
                        <div class="col-12">
                            <h3 style="font-weight: bold;">Lo que aprendieron los alumnos</h3>
                        </div>
                        <div class="col-12 py-2 aos-init" data-aos="fade-right" data-aos-delay="0">
                            <img style="width: 3%; padding-bottom: 0.5%;" src="/assets/img/SIMULADOR/cuadratito verde.png" alt="">
                            Derecho de acción
                        </div>
                        <div class="col-12 py-2 aos-init" data-aos="fade-right" data-aos-delay="200">
                            <img style="width: 3%; padding-bottom: 0.5%;" src="/assets/img/SIMULADOR/cuadradito plomo.png" alt="">
                            Elaboración de la demanda.
                        </div>
                        <div class="col-12 py-2 aos-init" data-aos="fade-right" data-aos-delay="400">
                            <img style="width: 3%; padding-bottom: 0.5%;" src="/assets/img/SIMULADOR/cuadradito celeste clarito.png" alt=""> Medios de defensa de fondo.
                        </div>
                        <div class="col-12 py-2 aos-init" data-aos="fade-right" data-aos-delay="600">
                            <img style="width: 3%; padding-bottom: 0.5%;" src="/assets/img/SIMULADOR/cuadratito verde.png" alt="">
                            Principios relacionados con la oralidad civil.
                        </div>
                        <div class="col-12 py-2 aos-init" data-aos="fade-right" data-aos-delay="800">
                            <img style="width: 3%; padding-bottom: 0.5%;" src="/assets/img/SIMULADOR/cuadradito plomo.png" alt="">
                            Audiencia preliminar y de pruebas.
                        </div>
                        <div class="col-12 py-2 aos-init" data-aos="fade-right" data-aos-delay="1000">
                            <img style="width: 3%; padding-bottom: 0.5%;" src="/assets/img/SIMULADOR/cuadradito celeste clarito.png" alt=""> Simulación de audiencias.
                        </div>
                    </div>
                </div>
                <div class="col-8 aos-init aos-animate" data-aos="fade-left" data-aos-delay="1000">
                    <img style="max-width: 90%;" src="/assets/img/CURSOS/CURSO ANTERIOR.png" alt="">
                </div>
            </div>
        </div>
    </section>
    <section class="mt-8 mb-8">
        <div class="row">
            <div class="col-4">
                <img style="max-width: 80%;" src="/assets/img/HOME PAGE/Rombos.png" alt="">
            </div>
            <div class="col-8 d-flex align-items-center justify-content-center text-center">
                <div class="row">
                    <div class="col-12">
                        <h1 style="color:#464D5B; font-weight: bold; font-size: 3.5vw;">VIVE UNA MEJOR <br> <span style="color: #259995;">EXPERIENCIA</span> EDUCATIVA</h1>
                    </div>
                    <div class="col-12 pt-4">
                        <p style="color:#464D5B; font-size: 1.3vw;">Sé parte de una mejor experiencia educativa</p>
                    </div>
                    <div class="col-12 pt-6">
                        <a style="background-color: #259995; font-weight: bold; color: white; font-size: 1.2vw;" class="btn" href="/Contacto">Contáctanos</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- ****** MAIN CONTENT END ****** -->