  <!-- WELCOME Simulator -->
  <section class="" style="color: #464D5B">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-md-4 col-sm-12 ps-md-6 ps-lg-10" data-aos="fade-up">
          <h1 class="text-md-start" style="font-size: 50px; font-weight: bolder;">
            Experimenta una <span style="color: #259995;">nueva</span> forma de <span
              style="color:#259995">aprender</span>
          </h1>
          <p class="text-md-start mb-6 mb-lg-5" style="color: #464D5B; text-align: justify;">
            sTemis es una solución digital y académica en el ámbito legal. Brinda un espacio práctico que permite al
            alumno univesitario aprender
            cómo se desarrolla un proceso judicial a través de su simulación.
          </p>
          <div class="text-center">
                <a class="btn" style="background-color: #259995; color: white;" href="http://simulador.stemis.com.pe/"> Ingresa aquí</a>
          </div>
        </div>
        <div class="col-md-8 col-sm-12 ">
          <img src="assets/img/SIMULADOR/simulador 1 1.png" style="max-width: 100%;" alt="..." data-aos="fade-down"
            data-aos-delay="100" class="aos-init aos-animate">
        </div>
      </div>
    </div>
  </section>

  <!-- BRANDS -->
  <section class="mt-12 pb-4 py-md-4"  style="color:#464D5B">
    <div class="container">

      <div class="text-center align-items-center justify-content-center aos-init aos-animate" data-aos="fade-down">
        <h1 style="font-weight: bold;">TODO LO QUE PODEMOS <span style="color:#259995">HACER</span></h1>
        <br>
      </div>

      <div class="row ">
        <div class="col-6 pt-lg-9 mt-8">
            <div class="row" style="font-size: large;" >
                <div class="col-12 py-2 aos-init aos-animate" data-aos="fade-right" data-aos-delay="0">
                    <img style="width: 3%; padding-bottom: 0.5%;" src="/assets/img/SIMULADOR/cuadradito verde.png" alt>
                    Creación de expedientes electrónicos.
                </div>
                <div class="col-12 py-2 aos-init aos-animate" data-aos="fade-right" data-aos-delay="200">
                    <img style="width: 3%; padding-bottom: 0.5%;" src="/assets/img/SIMULADOR/cuadradito plomo.png" alt>
                    Presentación de escritos y notificaciones por las partes del proceso.
                </div>
                <div class="col-12 py-2 aos-init aos-animate" data-aos="fade-right" data-aos-delay="400">
                    <img style="width: 3%; padding-bottom: 0.5%;" src="/assets/img/SIMULADOR/cuadradito celeste clarito.png" alt>
                    Calificar, guardar y editar notas en el libro de calificaciones.
                </div>
                <div class="col-12 py-2 aos-init aos-animate" data-aos="fade-right" data-aos-delay="600">
                    <img style="width: 3%; padding-bottom: 0.5%;" src="/assets/img/SIMULADOR/cuadradito verde.png" alt>
                    Conexión via Zoom y Google Meet para audiencias virtuales.
                </div>
                <div class="col-12 py-2 aos-init aos-animate" data-aos="fade-right" data-aos-delay="800">
                    <img style="width: 3%; padding-bottom: 0.5%;" src="/assets/img/SIMULADOR/cuadradito plomo.png" alt>
                    Creación de cuadernos por cada expediente.
                </div>
                <div class="col-12 py-2 aos-init aos-animate" data-aos="fade-right" data-aos-delay="1000">
                    <img style="width: 3%; padding-bottom: 0.5%;" src="/assets/img/SIMULADOR/cuadradito celeste clarito.png" alt>
                    Asignar etapas procesales.
                </div>
            </div>
        </div>
            <div class="col-6 aos-init aos-animate" data-aos="fade-left" data-aos-delay="1000">
                <img style="max-width: 120%;" src="/assets/img/SIMULADOR/expediente.png" alt>
            </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Section 2 -->
  <section class="py-6 py-md-8 border-bottom" style="color:#464D5B">
    <div class="container">
        <div class="text-center align-items-center justify-content-center my-6 aos-init aos-animate">
            <h1 style="font-weight: bold;">
                <span style="color:#259995">SIMULACIÓN</span> 
                DE PROCESOS JUDICIALES
            </h1>
        </div>
        <div class="row mt-6 mb-6 aos-init aos-animate" data-aos="fade-down">
            <img src="/assets/img/SIMULADOR/proceso.png" alt>
        </div>
    </div>
  </section>

  <!-- Section 3 -->

<section class="pb-4 py-md-4" style="color:#464D5B">
    <div class="container">
        <div class="text-center align-items-center justify-content-center my-6 aos-init aos-animate" data-aos="fade-down">
            <h1 style="font-weight: bold;">RESUMEN
            <span style="color:#259995">PRÁCTICO
            </span>
            DE TUS CLASES
            </h1>
            <br>
        </div>
        <div class="row mt-6 mb-6">
            <div class="col-6 aos-init aos-animate" data-aos="fade-left" data-aos-delay="600">
                <img style="max-width: 120%;" src="/assets/img/SIMULADOR/Estadisticas.png" alt>
            </div>
            <div class="col-6 ps-10 pt-12 mt-9" >
                <div class="row" style="font-size: large;" >
                    <div class="col-12 py-2 aos-init aos-animate" data-aos="fade-right" data-aos-delay="0">
                        <img style="width: 3%; padding-bottom: 0.5%;" src="/assets/img/SIMULADOR/cuadradito verde.png" alt>
                        Visualiza de forma rápida un resumen de los expedientes de tus alumnos.
                    </div>
                    <div class="col-12 py-2 aos-init aos-animate" data-aos="fade-right" data-aos-delay="200">
                        <img style="width: 3%; padding-bottom: 0.5%;" src="/assets/img/SIMULADOR/cuadradito plomo.png" alt>
                        Visualiza de forma rápida un resumen de los expedientes de tus alumnos.
                    </div>
                    <div class="col-12 py-2 aos-init aos-animate" data-aos="fade-right" data-aos-delay="400">
                        <img style="width: 3%; padding-bottom: 0.5%;" src="/assets/img/SIMULADOR/cuadradito celeste clarito.png" alt>
                        Visualiza de forma rápida un resumen de los expedientes de tus alumnos.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section contactanos -->
<section class="mt-8 mb-8">
    <div class="row">
      <div class="col-4">
        <img style="max-width: 80%;" src="/assets/img/HOME PAGE/Rombos.png" alt="">
      </div>
      <div class="col-8 d-flex align-items-center justify-content-center text-center">
        <div class="row">
          <div class="col-12">
            <h1 style="color:#464D5B; font-weight: bold; font-size: 3.5vw;">VIVE UNA MEJOR <br> <span
                style="color: #259995;">EXPERIENCIA</span> EDUCATIVA</h1>
          </div>
          <div class="col-12 pt-4">
            <p style="color:#464D5B; font-size: 1.3vw;">Sé parte de una mejor experiencia educativa</p>
          </div>
          <div class="col-12 pt-6">
            <a style="background-color: #259995; font-weight: bold; color: white; font-size: 1.2vw;" class="btn"
              href="/Contacto">Contáctanos</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  