<style>
  body {
    background-color: #f5f7fa;
  }

  .testimonial-card .card-up {
    /* height: 120px; */
    height: 200px;
    overflow: hidden;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    background: linear-gradient(40deg, #2096ff, #05ffa3) !important;
  }

  .aqua-gradient {
    /**/
    background-image: url('/assets/img/logo_ucsm.png') ;
    background-repeat: no-repeat;
  }

  .testimonial-card .avatar {
    width: 120px;
    margin-top: -60px;
    overflow: hidden;
    border: 5px solid #fff;
    border-radius: 50%;
  }

  .avatar {
    height: unset;
  }
</style>

<div class="container">
  <section class="mx-auto my-5" style="max-width: 23rem;">

    <div class="card testimonial-card mt-2 mb-3">
      <div class="card-up aqua-gradient"></div>
      <div class="avatar mx-auto white">
        <img src="/assets/img/foto.png" class="rounded-circle img-fluid" alt="woman avatar">
      </div>
      <div class="card-body text-center">
        <h4 class="card-title font-weight-bold">Ursula Gomez Llerena</h4>
        <h5 class="card-title font-weight-bold">Maestra en Comunicación y Marketing at Adecco</h4>
        <h5 class="card-title font-weight-bold">Egresada de Comunicación Social UCSM 2010 - Jefe regional en Adecco.</h4>
        <hr>
        <div class="row">
          <div class="col-4  p-3">
            <a href="https://api.whatsapp.com/send?phone=32342342342" target="_blank">
              <svg width="85" height="85" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 80">
                <g filter="url(#whatsapp_color_svg__filter0_i)">
                  <path d="M18.095 0h43.81C71.905 0 80 8.095 80 18.095v43.81C80 71.905 71.905 80 61.905 80h-43.81C8.095 80 0 71.905 0 61.905v-43.81C0 8.095 8.095 0 18.095 0z" fill="url(#whatsapp_color_svg__whatsapp)"></path>
                  <path d="M11.766 68.235c.188-.752.376-1.317.47-1.882 1.13-3.953 2.165-7.906 3.2-11.859.094-.376.094-.847-.094-1.13-1.976-3.481-3.012-7.246-3.388-11.293-.377-4.33.282-8.565 1.882-12.612 2.541-6.212 6.777-10.918 12.612-14.212 3.765-2.07 7.812-3.2 12.141-3.388 7.435-.282 13.93 1.882 19.577 6.776 5.176 4.518 8.47 10.165 9.411 16.942 1.224 8.376-.847 15.811-6.305 22.306-4.612 5.458-10.542 8.752-17.695 9.694-5.553.752-10.917 0-16-2.636-.847-.376-1.506-.47-2.447-.282-4.14 1.13-8.282 2.165-12.423 3.294-.094.094-.47.188-.941.282zm27.576-51.858c-.753.094-2.259.188-3.67.376-5.271 1.035-9.789 3.576-13.365 7.624-4.141 4.8-6.118 10.447-5.741 16.753.188 4.14 1.506 7.905 3.764 11.388.189.282.189.659.094 1.035-.564 2.165-1.129 4.33-1.788 6.494-.094.377-.188.659-.282 1.036 0 .094.282.376.376.376.189 0 .47-.094.753-.188 2.26-.565 4.612-1.224 6.87-1.788.471-.095 1.036 0 1.413.188 4.517 2.635 9.411 3.764 14.588 3.2 6.4-.66 11.67-3.577 15.623-8.47 3.86-4.8 5.647-10.26 5.177-16.472-.377-5.364-2.353-10.07-6.024-14.023-4.423-4.894-10.259-7.435-17.788-7.53z" fill="#fff"></path>
                  <path d="M47.343 53.176c-2.165.095-4.047-.753-5.93-1.505-3.294-1.224-6.117-3.294-8.564-5.836-2.165-2.164-4.141-4.517-5.553-7.247-1.412-2.447-1.977-5.082-1.035-7.812.47-1.317 1.317-2.447 2.352-3.388 1.036-.847 2.26-.659 3.483-.376.282.094.47.376.659.659.847 1.882 1.694 3.764 2.447 5.74.188.377.094.942-.188 1.318-.377.66-.942 1.318-1.506 1.883-.66.753-.753 1.035-.189 1.882 2.26 3.859 5.46 6.588 9.6 8.188.565.189.942.094 1.318-.282.659-.847 1.412-1.694 2.07-2.447.565-.753.848-.847 1.789-.47.753.282 1.412.658 2.165.94 1.035.471 2.07 1.036 3.105 1.506.66.283.848.847.848 1.506-.283 3.2-2.824 5.553-6.118 5.647-.282.094-.565.094-.753.094z" fill="#fff"></path>
                </g>
                <defs>
                  <linearGradient id="whatsapp_color_svg__whatsapp" x1="40" y1="0" x2="40" y2="80" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#00FF6A"></stop>
                    <stop offset="1" stop-color="#00D31D"></stop>
                  </linearGradient>
                  <filter id="whatsapp_color_svg__filter0_i" x="0" y="-1" width="80" height="81" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
                    <feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape"></feBlend>
                    <feColorMatrix in="SourceAlpha" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"></feColorMatrix>
                    <feOffset dy="-1"></feOffset>
                    <feGaussianBlur stdDeviation="0.5"></feGaussianBlur>
                    <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"></feComposite>
                    <feColorMatrix values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.12 0"></feColorMatrix>
                    <feBlend in2="shape" result="effect1_innerShadow"></feBlend>
                  </filter>
                </defs>
              </svg>
            </a>
          </div>
          <div class="col-4 p-3">
            <a href="https://www.instagram.com/edu_lamasd/" target="_blank">
                <svg width="85" height="85" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 80">
                    <g filter="url(#instagram_color_svg__filter0_i)">
                      <path d="M18.095 0h43.81C71.905 0 80 8.095 80 18.095v43.81C80 71.905 71.905 80 61.905 80h-43.81C8.095 80 0 71.905 0 61.905v-43.81C0 8.095 8.095 0 18.095 0z" fill="url(#instagram_color_svg__paint0_radial)"></path>
                      <path d="M18.095 0h43.81C71.905 0 80 8.095 80 18.095v43.81C80 71.905 71.905 80 61.905 80h-43.81C8.095 80 0 71.905 0 61.905v-43.81C0 8.095 8.095 0 18.095 0z" fill="url(#instagram_color_svg__paint1_radial)"></path>
                      <path d="M38.762 10.476H50.19c2.381 0 4.858.19 7.239.857 4.19 1.143 7.428 3.524 9.619 7.238 1.333 2.286 1.904 4.762 2.19 7.334.19 2.285.286 4.571.286 6.857v16.952c0 2.572-.19 5.143-.857 7.715-1.429 5.142-4.572 8.761-9.524 10.666-2.381.953-4.953 1.238-7.524 1.334-6.286.095-12.571.19-18.857.19-2.667 0-5.429-.095-8-.476-3.714-.476-6.953-1.905-9.62-4.667-2.475-2.571-3.809-5.714-4.285-9.238-.571-4.762-.476-9.524-.476-14.38 0-4 .095-7.906.095-11.906.095-2.762.286-5.524 1.333-8.19 1.905-4.953 5.43-8 10.572-9.429 2.38-.666 4.857-.762 7.333-.857h9.048zm25.524 29.62c0-2.287.095-4.477 0-6.763-.096-2.762-.19-5.619-.477-8.38a9.298 9.298 0 00-2.285-5.239c-2.19-2.571-5.048-3.714-8.286-3.905-3.143-.19-6.38-.285-9.524-.285-5.714 0-11.428.095-17.143.285-2.095.096-4.095.572-5.904 1.715-2.953 1.81-4.477 4.571-4.762 7.904-.286 2.858-.381 5.715-.476 8.572 0 5.524 0 10.952.095 16.476 0 1.905.286 3.905.667 5.714.57 2.477 2 4.477 4.095 5.905 2.095 1.429 4.571 1.905 7.047 2 2.953.095 5.81.19 8.762.19 5.62 0 11.238-.095 16.857-.19C55.333 64 57.62 63.43 59.524 62c2.38-1.714 3.81-4.095 4.19-6.953.286-2.095.381-4.19.477-6.285.095-2.857.095-5.715.095-8.667z" fill="#fff"></path>
                      <path d="M54.954 40c0 8.476-6.762 15.143-15.238 15.143-8.286 0-15.048-6.857-15.048-15.238 0-8.286 6.857-15.143 15.238-15.143 8.286.095 15.048 6.857 15.048 15.238zm-25.048 0c0 5.524 4.476 10 10 10s10-4.476 10-10c0-5.428-4.476-9.905-10-9.905-5.619 0-10 4.381-10 9.905zM55.618 20.762c2 0 3.524 1.524 3.524 3.428 0 1.905-1.524 3.524-3.429 3.524-1.904 0-3.523-1.523-3.523-3.428 0-2 1.523-3.524 3.428-3.524z" fill="#fff"></path>
                    </g>
                    <defs>
                      <radialGradient id="instagram_color_svg__paint0_radial" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(5.178 78.247) scale(101.57)">
                        <stop offset="0.09" stop-color="#FA8F21"></stop>
                        <stop offset="0.78" stop-color="#D82D7E"></stop>
                      </radialGradient>
                      <radialGradient id="instagram_color_svg__paint1_radial" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(55.413 75.679) scale(89.3828)">
                        <stop offset="0.64" stop-color="#8C3AAA" stop-opacity="0"></stop>
                        <stop offset="1" stop-color="#8C3AAA"></stop>
                      </radialGradient>
                      <filter id="instagram_color_svg__filter0_i" x="0" y="-1" width="80" height="81" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
                        <feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape"></feBlend>
                        <feColorMatrix in="SourceAlpha" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"></feColorMatrix>
                        <feOffset dy="-1"></feOffset>
                        <feGaussianBlur stdDeviation="0.5"></feGaussianBlur>
                        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"></feComposite>
                        <feColorMatrix values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.12 0"></feColorMatrix>
                        <feBlend in2="shape" result="effect1_innerShadow"></feBlend>
                      </filter>
                    </defs>
                  </svg>
            </a>
          </div>
          <div class="col-4 p-3">
            <a href="https://api.whatsapp.com/send?phone=32342342342" target="_blank">
              <svg width="85" height="85" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 80">
                <g filter="url(#phone_color_svg__filter0_i)">
                  <path d="M18.095 0h43.81C71.905 0 80 8.095 80 18.095v43.81C80 71.905 71.905 80 61.905 80h-43.81C8.095 80 0 71.905 0 61.905v-43.81C0 8.095 8.095 0 18.095 0z" fill="url(#phone_color_svg__call)"></path>
                  <path d="M14.682 21.93c-.188-2.542.847-4.33 3.012-5.648.94-.564 1.882-1.223 2.823-1.788 1.694-1.035 3.294-.753 4.424.941 1.976 2.918 3.859 5.742 5.835 8.66 1.412 2.07 1.318 3.482-.282 5.364-.47.565-.942 1.13-1.318 1.694-1.318 1.694-1.412 3.2-.188 4.988 1.506 2.07 3.2 4.047 4.894 6.024 2.635 3.012 5.741 5.553 9.035 8 1.788 1.317 3.483 1.223 5.27.094.566-.377 1.224-.847 1.789-1.224 1.694-1.317 3.012-1.411 4.894-.282 2.918 1.882 5.93 3.67 8.847 5.553 2.165 1.318 2.541 2.73 1.412 4.988-.659 1.224-1.412 2.353-2.259 3.483-1.223 1.788-3.012 2.352-5.082 2.352-2.541.095-4.894-.564-7.153-1.505-6.306-2.542-11.859-6.306-16.847-10.824C27.67 47.341 22.4 41.13 18.447 33.882c-1.694-3.2-3.106-6.494-3.577-10.07-.094-.659-.094-1.318-.188-1.883z" fill="#fff"></path>
                </g>
                <defs>
                  <linearGradient id="phone_color_svg__call" x1="40" y1="0" x2="40" y2="80" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#8BFB6B"></stop>
                    <stop offset="1" stop-color="#19DB1C"></stop>
                  </linearGradient>
                  <filter id="phone_color_svg__filter0_i" x="0" y="-1" width="80" height="81" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
                    <feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape"></feBlend>
                    <feColorMatrix in="SourceAlpha" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"></feColorMatrix>
                    <feOffset dy="-1"></feOffset>
                    <feGaussianBlur stdDeviation="0.5"></feGaussianBlur>
                    <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"></feComposite>
                    <feColorMatrix values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.12 0"></feColorMatrix>
                    <feBlend in2="shape" result="effect1_innerShadow"></feBlend>
                  </filter>
                </defs>
              </svg>
            </a>
          </div>
          <div class="col-4 p-3">
            <a href="https://api.whatsapp.com/send?phone=32342342342" target="_blank">
              <svg width="85" height="85" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 80">
                <g filter="url(#mail_color_svg__filter0_i)">
                  <path d="M18.095 0h43.81C71.905 0 80 8.095 80 18.095v43.81C80 71.905 71.905 80 61.905 80h-43.81C8.095 80 0 71.905 0 61.905v-43.81C0 8.095 8.095 0 18.095 0z" fill="url(#mail_color_svg__mail)"></path>
                  <path d="M66.016 22h-51.59c-.468 0-.91.138-1.295.358l.551.552L36.816 46.07a4.826 4.826 0 006.81 0L67.34 22.386A2.474 2.474 0 0066.016 22zM68.47 24.454c0-.469-.138-.91-.359-1.296l-17.095 17.26 17.15 17.096c.193-.358.303-.772.303-1.185V24.454zM12 24.454c0-.469.138-.91.358-1.296l17.096 17.26-17.15 17.096A2.525 2.525 0 0112 56.33V24.454z" fill="#fff"></path>
                  <path d="M50.107 41.218l-5.984 5.984c-2.15 2.15-5.68 2.15-7.83 0l-5.984-5.956-17.178 17.15c.386.221.8.36 1.268.36h51.59c.468 0 .91-.139 1.268-.36l-1.02-1.02-16.13-16.157z" fill="#fff"></path>
                </g>
                <defs>
                  <linearGradient id="mail_color_svg__mail" x1="40" y1="0" x2="40" y2="80" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#1E51EE"></stop>
                    <stop offset="1" stop-color="#19E4FF"></stop>
                  </linearGradient>
                  <filter id="mail_color_svg__filter0_i" x="0" y="-1" width="80" height="81" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
                    <feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape"></feBlend>
                    <feColorMatrix in="SourceAlpha" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"></feColorMatrix>
                    <feOffset dy="-1"></feOffset>
                    <feGaussianBlur stdDeviation="0.5"></feGaussianBlur>
                    <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"></feComposite>
                    <feColorMatrix values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.12 0"></feColorMatrix>
                    <feBlend in2="shape" result="effect1_innerShadow"></feBlend>
                  </filter>
                </defs>
              </svg>
            </a>
          </div>
          <div class="col-4 p-3">
            <a href="https://api.whatsapp.com/send?phone=32342342342" target="_blank">
              <svg width="85" height="85" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 80">
                <g filter="url(#linkedin_color_svg__filter0_i)">
                  <path d="M18.095 0h43.81C71.905 0 80 8.095 80 18.095v43.81C80 71.905 71.905 80 61.905 80h-43.81C8.095 80 0 71.905 0 61.905v-43.81C0 8.095 8.095 0 18.095 0z" fill="#0A66C2"></path>
                  <path d="M15.898 31.635h10.551V64.94H15.898V31.635zm5.278-16.576c1.21 0 2.394.352 3.4 1.012a6.028 6.028 0 012.253 2.694 5.896 5.896 0 01.347 3.468 5.967 5.967 0 01-1.676 3.073 6.155 6.155 0 01-3.134 1.642 6.227 6.227 0 01-3.535-.344 6.093 6.093 0 01-2.744-2.213 5.921 5.921 0 01-1.028-3.336 5.945 5.945 0 011.793-4.24 6.179 6.179 0 014.324-1.756zM32 31.86h10.127V36.4h.14c1.411-2.6 4.853-5.342 9.992-5.342 10.699-.023 12.682 6.83 12.682 15.715V64.94H54.377V48.846c0-3.832-.07-8.766-5.49-8.766-5.419 0-6.34 4.179-6.34 8.516v16.345H32V31.86z" fill="#fff"></path>
                </g>
                <defs>
                  <filter id="linkedin_color_svg__filter0_i" x="0" y="-1" width="80" height="81" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
                    <feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape"></feBlend>
                    <feColorMatrix in="SourceAlpha" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"></feColorMatrix>
                    <feOffset dy="-1"></feOffset>
                    <feGaussianBlur stdDeviation="0.5"></feGaussianBlur>
                    <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"></feComposite>
                    <feColorMatrix values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.12 0"></feColorMatrix>
                    <feBlend in2="shape" result="effect1_innerShadow"></feBlend>
                  </filter>
                </defs>
              </svg>
            </a>
          </div>
          <div class="col-4 p-3">
            <a href="https://api.whatsapp.com/send?phone=32342342342" target="_blank">
              <svg width="85" height="85" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 80">
                <g filter="url(#mail_color_svg__filter0_i)">
                  <path d="M18.095 0h43.81C71.905 0 80 8.095 80 18.095v43.81C80 71.905 71.905 80 61.905 80h-43.81C8.095 80 0 71.905 0 61.905v-43.81C0 8.095 8.095 0 18.095 0z" fill="url(#mail_color_svg__mail)"></path>
                  <path d="M66.016 22h-51.59c-.468 0-.91.138-1.295.358l.551.552L36.816 46.07a4.826 4.826 0 006.81 0L67.34 22.386A2.474 2.474 0 0066.016 22zM68.47 24.454c0-.469-.138-.91-.359-1.296l-17.095 17.26 17.15 17.096c.193-.358.303-.772.303-1.185V24.454zM12 24.454c0-.469.138-.91.358-1.296l17.096 17.26-17.15 17.096A2.525 2.525 0 0112 56.33V24.454z" fill="#fff"></path>
                  <path d="M50.107 41.218l-5.984 5.984c-2.15 2.15-5.68 2.15-7.83 0l-5.984-5.956-17.178 17.15c.386.221.8.36 1.268.36h51.59c.468 0 .91-.139 1.268-.36l-1.02-1.02-16.13-16.157z" fill="#fff"></path>
                </g>
                <defs>
                  <linearGradient id="mail_color_svg__mail" x1="40" y1="0" x2="40" y2="80" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#1E51EE"></stop>
                    <stop offset="1" stop-color="#19E4FF"></stop>
                  </linearGradient>
                  <filter id="mail_color_svg__filter0_i" x="0" y="-1" width="80" height="81" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
                    <feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape"></feBlend>
                    <feColorMatrix in="SourceAlpha" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"></feColorMatrix>
                    <feOffset dy="-1"></feOffset>
                    <feGaussianBlur stdDeviation="0.5"></feGaussianBlur>
                    <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"></feComposite>
                    <feColorMatrix values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.12 0"></feColorMatrix>
                    <feBlend in2="shape" result="effect1_innerShadow"></feBlend>
                  </filter>
                </defs>
              </svg>
            </a>
          </div>
          <div class="col-4 p-3">
            <a href="https://api.whatsapp.com/send?phone=32342342342" target="_blank">
              <svg width="85" height="85" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 80">
                <g filter="url(#safari_color_svg__filter0_ii)">
                  <path d="M18.095 0h43.81C71.905 0 80 8.095 80 18.095v43.81C80 71.905 71.905 80 61.905 80h-43.81C8.095 80 0 71.905 0 61.905v-43.81C0 8.095 8.095 0 18.095 0z" fill="#FFFEFF"></path>
                  <path d="M18.095.5h43.81C71.629.5 79.5 8.371 79.5 18.095v43.81c0 9.724-7.871 17.595-17.595 17.595h-43.81C8.371 79.5.5 71.629.5 61.905v-43.81C.5 8.371 8.371.5 18.095.5z" stroke="#000" stroke-opacity="0.05"></path>
                  <g filter="url(#safari_color_svg__filter1_d)">
                    <path d="M40 70.5c17.12 0 31-13.88 31-31 0-17.12-13.88-31-31-31-17.12 0-31 13.88-31 31 0 17.12 13.88 31 31 31z" fill="url(#safari_color_svg__paint8_linear)"></path>
                  </g>
                  <path d="M40 68.175c15.836 0 28.674-12.838 28.674-28.675 0-15.837-12.838-28.675-28.675-28.675-15.837 0-28.675 12.838-28.675 28.675 0 15.837 12.839 28.675 28.675 28.675z" fill="url(#safari_color_svg__safari)"></path>
                  <path d="M40.049 17.8c-.194 0-.364-.145-.364-.339v-5.062c0-.193.17-.339.364-.339.194 0 .363.146.363.34v5.061c-.024.194-.17.339-.363.339z" fill="#F3F3F3"></path>
                  <path d="M40.048 17.824c-.218 0-.388-.17-.388-.363v-5.062c0-.193.17-.363.388-.363s.387.17.387.363v5.062c0 .194-.194.363-.387.363zm0-5.74c-.17 0-.34.146-.34.315v5.062c0 .17.146.315.34.315.17 0 .339-.145.339-.315v-5.062c-.024-.17-.17-.315-.34-.315z" fill="#fff"></path>
                  <path d="M42.472 15.088c-.194-.025-.34-.17-.34-.364l.17-2.252a.353.353 0 01.388-.315c.194.024.339.17.339.364l-.17 2.252a.353.353 0 01-.387.315z" fill="#F3F3F3"></path>
                  <path d="M42.47 15.112a.393.393 0 01-.363-.388l.17-2.252c.024-.194.194-.363.412-.34a.394.394 0 01.363.388l-.17 2.253c-.024.218-.193.363-.411.339zm.219-2.93c-.17 0-.34.12-.34.29l-.17 2.253c0 .169.122.314.316.338.17 0 .339-.12.339-.29l.17-2.253c0-.17-.146-.314-.316-.339z" fill="#fff"></path>
                  <path d="M44.288 18.236a.372.372 0 01-.29-.412l.992-4.965c.049-.193.218-.315.412-.266a.372.372 0 01.29.412L44.7 17.97c-.025.169-.219.29-.412.266z" fill="#F3F3F3"></path>
                  <path d="M44.287 18.26a.395.395 0 01-.315-.436l.993-4.965a.39.39 0 01.46-.29c.218.048.34.242.315.436l-.993 4.965c-.049.193-.242.315-.46.29zm1.138-5.643a.347.347 0 00-.388.242l-.992 4.966a.343.343 0 00.266.387.348.348 0 00.387-.242l.993-4.965c.025-.194-.096-.34-.266-.388z" fill="#fff"></path>
                  <path d="M47.192 16.056a.36.36 0 01-.266-.436l.606-2.18c.048-.193.242-.29.435-.242a.361.361 0 01.267.436l-.606 2.18c-.048.194-.242.29-.436.242z" fill="#F3F3F3"></path>
                  <path d="M47.194 16.08c-.194-.048-.34-.266-.267-.46l.606-2.18c.048-.193.266-.314.46-.266.194.049.339.267.266.46l-.605 2.18c-.049.194-.243.315-.46.267zm.799-2.833c-.17-.049-.364.049-.412.218l-.605 2.18c-.049.169.048.339.242.387.17.049.363-.048.411-.218l.606-2.18a.348.348 0 00-.242-.387z" fill="#fff"></path>
                  <path d="M48.38 19.471a.347.347 0 01-.194-.46l1.937-4.674c.073-.17.291-.267.46-.17.194.073.267.291.194.46l-1.937 4.675c-.073.17-.291.266-.46.17z" fill="#F3F3F3"></path>
                  <path d="M48.379 19.495a.376.376 0 01-.218-.484l1.938-4.674c.072-.194.29-.267.508-.194a.377.377 0 01.218.484l-1.937 4.675c-.097.194-.315.29-.509.194zm2.204-5.304a.329.329 0 00-.436.17l-1.938 4.674c-.072.17.025.34.194.412.17.073.364 0 .436-.17l1.938-4.674a.345.345 0 00-.194-.412z" fill="#fff"></path>
                  <path d="M51.649 17.921c-.17-.097-.242-.29-.17-.46l1.017-2.01a.354.354 0 01.485-.146c.17.098.242.291.17.46l-1.018 2.01a.354.354 0 01-.484.146z" fill="#F3F3F3"></path>
                  <path d="M51.65 17.945a.37.37 0 01-.17-.508l1.017-2.01a.37.37 0 01.509-.17.37.37 0 01.17.509l-1.018 2.01a.37.37 0 01-.508.17zm1.332-2.64c-.17-.072-.364-.024-.436.146l-1.017 2.01c-.073.145 0 .339.145.436.17.073.363.024.436-.145l1.017-2.01c.073-.146 0-.34-.145-.437z" fill="#fff"></path>
                  <path d="M52.135 21.506c-.17-.122-.218-.34-.097-.485l2.81-4.19c.096-.17.314-.194.484-.096.17.12.218.338.097.484l-2.81 4.19a.328.328 0 01-.484.097z" fill="#F3F3F3"></path>
                  <path d="M52.133 21.53a.418.418 0 01-.12-.533l2.809-4.19a.383.383 0 01.532-.097c.17.121.218.363.122.533l-2.81 4.19a.387.387 0 01-.533.097zm3.197-4.771c-.145-.097-.363-.073-.46.072l-2.81 4.19a.315.315 0 00.098.436c.145.097.363.073.46-.073l2.81-4.165a.345.345 0 00-.098-.46z" fill="#fff"></path>
                  <path d="M55.668 20.61c-.145-.122-.193-.34-.072-.485L57 18.357a.345.345 0 01.484-.048c.145.12.194.339.072.484l-1.404 1.768a.345.345 0 01-.484.049z" fill="#F3F3F3"></path>
                  <path d="M55.646 20.634c-.17-.122-.193-.364-.072-.533l1.404-1.768c.121-.17.364-.194.533-.048.17.12.194.363.073.532l-1.405 1.768c-.12.17-.363.194-.533.049zm1.817-2.301c-.145-.121-.34-.097-.46.048l-1.405 1.768a.343.343 0 00.072.46c.146.121.34.097.46-.048l1.405-1.768c.097-.145.073-.363-.072-.46z" fill="#fff"></path>
                  <path d="M55.427 24.242c-.145-.145-.145-.363 0-.484l3.584-3.56a.343.343 0 01.485 0c.121.12.145.363 0 .484l-3.56 3.56a.351.351 0 01-.509 0z" fill="#F3F3F3"></path>
                  <path d="M55.404 24.267a.38.38 0 010-.533l3.584-3.56a.38.38 0 01.533 0 .38.38 0 010 .532l-3.584 3.56a.38.38 0 01-.533 0zm4.093-4.07a.336.336 0 00-.46 0l-3.585 3.56a.337.337 0 000 .461.336.336 0 00.46 0l3.585-3.56c.12-.121.12-.315 0-.46z" fill="#fff"></path>
                  <path d="M59.06 24.049c-.12-.146-.12-.364.025-.485l1.72-1.453a.346.346 0 01.484.049c.12.145.12.363-.024.484l-1.72 1.453a.346.346 0 01-.484-.049z" fill="#F3F3F3"></path>
                  <path d="M59.035 24.073c-.145-.17-.12-.412.024-.533l1.72-1.453c.145-.145.387-.121.533.048.145.17.12.412-.024.533l-1.72 1.453c-.145.145-.388.121-.533-.048zm2.228-1.913c-.12-.146-.315-.146-.46-.049l-1.72 1.453a.337.337 0 00-.024.46c.121.145.315.145.46.049l1.72-1.454c.145-.12.145-.314.024-.46z" fill="#fff"></path>
                  <path d="M58.09 27.536a.328.328 0 01.098-.485l4.214-2.809c.17-.097.387-.048.484.097a.328.328 0 01-.097.485l-4.214 2.809c-.145.097-.363.048-.484-.097z" fill="#F3F3F3"></path>
                  <path d="M58.067 27.536a.387.387 0 01.097-.533l4.214-2.81a.373.373 0 01.533.122.387.387 0 01-.097.532l-4.214 2.81a.373.373 0 01-.533-.12v-.001zm4.795-3.173a.315.315 0 00-.435-.096l-4.215 2.809c-.145.097-.193.29-.072.46.097.145.29.194.436.097l4.214-2.81a.343.343 0 00.072-.46z" fill="#fff"></path>
                  <path d="M61.702 28.045a.353.353 0 01.12-.485l1.962-1.114c.17-.097.388-.024.485.145a.353.353 0 01-.121.485l-1.962 1.114c-.17.097-.388.024-.484-.146z" fill="#F3F3F3"></path>
                  <path d="M61.676 28.069c-.097-.194-.048-.412.121-.509l1.962-1.114c.17-.097.412-.024.509.145.097.194.048.412-.121.509l-1.962 1.114c-.17.097-.412.024-.509-.145zm2.567-1.453c-.096-.17-.29-.218-.435-.122l-1.962 1.115a.348.348 0 00-.121.435c.097.17.29.218.436.122l1.961-1.114c.146-.073.194-.267.121-.436z" fill="#fff"></path>
                  <path d="M60.076 31.266c-.072-.194 0-.388.194-.46l4.674-1.938c.17-.072.388.024.46.194.073.194 0 .387-.193.46l-4.674 1.937a.346.346 0 01-.46-.193z" fill="#F3F3F3"></path>
                  <path d="M60.053 31.29a.402.402 0 01.194-.509l4.674-1.937a.376.376 0 01.484.218.401.401 0 01-.194.508l-4.673 1.938a.376.376 0 01-.485-.218zm5.304-2.204a.345.345 0 00-.412-.194l-4.674 1.938a.328.328 0 00-.17.436c.073.17.267.242.412.194l4.674-1.938a.328.328 0 00.17-.436z" fill="#fff"></path>
                  <path d="M63.493 32.477c-.073-.194.024-.388.218-.46l2.131-.703c.17-.073.388.049.436.218.073.194-.024.387-.218.46l-2.131.703c-.17.072-.363-.025-.436-.218z" fill="#F3F3F3"></path>
                  <path d="M63.47 32.5a.37.37 0 01.242-.483l2.13-.703c.194-.073.412.049.485.242a.37.37 0 01-.242.485l-2.131.702a.412.412 0 01-.485-.242zm2.809-.92c-.049-.169-.243-.266-.412-.217l-2.131.702c-.17.048-.243.242-.194.412.048.17.242.266.412.218l2.13-.703a.334.334 0 00.195-.412z" fill="#fff"></path>
                  <path d="M61.312 35.359c-.049-.194.072-.388.266-.412l4.965-.969c.193-.048.363.097.411.29.049.194-.072.388-.266.413l-4.965.968c-.194.024-.387-.096-.412-.29z" fill="#F3F3F3"></path>
                  <path d="M61.263 35.359a.39.39 0 01.29-.46l4.966-.97c.194-.048.387.098.436.316a.39.39 0 01-.29.46l-4.966.968c-.193.049-.387-.096-.436-.315zm5.643-1.09a.324.324 0 00-.363-.267l-4.965.97c-.17.023-.29.217-.242.387.024.17.194.29.363.266l4.965-.969c.17-.048.29-.218.242-.387z" fill="#fff"></path>
                  <path d="M64.413 37.224c-.024-.194.097-.364.29-.388l2.229-.267a.353.353 0 01.387.316c.025.193-.097.363-.29.387l-2.228.266c-.17.025-.364-.12-.388-.314z" fill="#F3F3F3"></path>
                  <path d="M64.39 37.224c-.025-.218.12-.412.314-.436l2.228-.267a.377.377 0 01.412.34c.024.217-.121.411-.315.435l-2.228.267a.377.377 0 01-.412-.34zm2.93-.34c-.024-.169-.194-.315-.364-.29l-2.228.266a.325.325 0 00-.266.364c.024.169.194.315.363.29l2.228-.266a.325.325 0 00.267-.363z" fill="#fff"></path>
                  <path d="M61.701 39.573c0-.194.145-.364.34-.364h5.06c.195 0 .34.17.34.364 0 .194-.145.363-.34.363h-5.06c-.195 0-.34-.17-.34-.363z" fill="#F3F3F3"></path>
                  <path d="M61.676 39.573c0-.218.17-.388.363-.388h5.062c.194 0 .363.17.363.388s-.17.387-.363.387h-5.062c-.194 0-.363-.17-.363-.387zm5.74.024c0-.17-.146-.339-.316-.339h-5.06c-.17 0-.316.145-.316.339 0 .17.146.339.315.339h5.062c.17-.024.315-.17.315-.339z" fill="#fff"></path>
                  <path d="M64.389 42.019c.024-.194.17-.34.363-.34l2.253.17a.353.353 0 01.314.388c-.024.194-.17.339-.363.339l-2.252-.17c-.17-.024-.315-.194-.315-.387z" fill="#F3F3F3"></path>
                  <path d="M64.365 42.019a.393.393 0 01.388-.363l2.252.169c.194.024.363.194.339.412a.393.393 0 01-.387.363l-2.253-.17c-.194-.024-.339-.218-.339-.411zm2.955.218a.307.307 0 00-.29-.34l-2.253-.169c-.17 0-.315.121-.34.315a.307.307 0 00.291.339l2.253.17c.17 0 .315-.145.339-.315z" fill="#fff"></path>
                  <path d="M61.263 43.787a.372.372 0 01.412-.29l4.964.992c.194.049.315.218.267.412a.373.373 0 01-.412.29L61.53 44.2c-.17-.025-.29-.218-.266-.412z" fill="#F3F3F3"></path>
                  <path d="M61.24 43.787a.395.395 0 01.435-.315l4.965.993a.39.39 0 01.29.46.395.395 0 01-.435.315l-4.965-.993c-.194-.048-.315-.242-.29-.46zm5.642 1.138a.347.347 0 00-.242-.387l-4.965-.993a.344.344 0 00-.387.266.348.348 0 00.242.388l4.965.992c.194.025.339-.097.387-.266z" fill="#fff"></path>
                  <path d="M63.444 46.693a.36.36 0 01.436-.266l2.18.605c.193.049.29.243.242.436a.362.362 0 01-.436.266l-2.18-.605c-.194-.048-.29-.242-.242-.436z" fill="#F3F3F3"></path>
                  <path d="M63.419 46.693c.048-.194.266-.339.46-.266l2.18.605a.387.387 0 01.266.46c-.048.194-.266.34-.46.267l-2.18-.606c-.194-.048-.315-.242-.266-.46zm2.834.8c.048-.17-.049-.364-.219-.413l-2.18-.605c-.169-.049-.338.048-.387.242-.048.17.049.364.218.412l2.18.605a.347.347 0 00.388-.242z" fill="#fff"></path>
                  <path d="M60.03 47.855c.072-.193.29-.266.46-.193l4.674 1.937c.17.073.266.291.194.46-.073.194-.29.267-.46.194l-4.675-1.937c-.193-.073-.266-.291-.193-.46z" fill="#F3F3F3"></path>
                  <path d="M60.004 47.831a.377.377 0 01.485-.218l4.674 1.938c.194.072.266.29.194.508a.375.375 0 01-.485.219l-4.674-1.938c-.194-.097-.266-.315-.194-.509zm5.304 2.204a.329.329 0 00-.17-.436l-4.674-1.937c-.17-.073-.339.024-.411.194-.073.169 0 .363.17.435l4.673 1.938c.17.049.364-.024.412-.194z" fill="#fff"></path>
                  <path d="M61.604 51.125c.097-.17.29-.242.46-.17l2.01 1.018c.17.072.243.29.146.484-.097.17-.291.242-.46.17l-2.01-1.018c-.17-.096-.243-.315-.146-.484z" fill="#F3F3F3"></path>
                  <path d="M61.58 51.1a.37.37 0 01.509-.169l2.01 1.018a.37.37 0 01.169.508.37.37 0 01-.508.17l-2.01-1.018c-.194-.072-.267-.315-.17-.508zm2.615 1.333c.073-.17.025-.364-.145-.436l-2.01-1.017c-.145-.073-.339 0-.436.145-.072.17-.024.363.145.436l2.01 1.017c.17.073.364.024.436-.145z" fill="#fff"></path>
                  <path d="M58.044 51.585c.121-.17.315-.218.484-.097l4.214 2.81c.17.096.194.315.097.484-.121.17-.315.218-.484.097l-4.214-2.81c-.17-.12-.218-.339-.097-.484z" fill="#F3F3F3"></path>
                  <path d="M58.02 51.561a.419.419 0 01.532-.121l4.214 2.81c.17.12.218.338.097.532a.418.418 0 01-.532.121l-4.215-2.81c-.194-.12-.218-.363-.097-.532zm4.77 3.197c.097-.145.073-.364-.072-.46l-4.214-2.81a.316.316 0 00-.436.097c-.097.145-.073.364.072.46l4.215 2.81a.316.316 0 00.436-.097z" fill="#fff"></path>
                  <path d="M58.939 55.097c.12-.145.339-.194.484-.072l1.768 1.38c.145.12.17.339.049.484-.121.145-.34.194-.485.073l-1.768-1.38a.345.345 0 01-.048-.485z" fill="#F3F3F3"></path>
                  <path d="M58.916 55.073c.12-.17.363-.194.532-.073l1.768 1.38c.17.121.194.364.073.533-.121.17-.364.194-.533.073l-1.768-1.38c-.17-.122-.194-.364-.072-.533zm2.325 1.816c.12-.145.096-.339-.049-.46l-1.768-1.38a.343.343 0 00-.46.072c-.121.145-.097.34.048.46l1.768 1.38a.343.343 0 00.46-.072z" fill="#fff"></path>
                  <path d="M55.331 54.855c.145-.145.363-.145.484 0l3.585 3.56a.343.343 0 010 .484c-.145.145-.364.145-.484 0l-3.585-3.56a.369.369 0 010-.484z" fill="#F3F3F3"></path>
                  <path d="M55.33 54.83a.38.38 0 01.533 0l3.584 3.56a.38.38 0 010 .533.38.38 0 01-.532 0l-3.585-3.56a.343.343 0 010-.532zm4.069 4.045a.336.336 0 000-.46l-3.584-3.56a.337.337 0 00-.46 0 .336.336 0 000 .46l3.584 3.56c.121.145.315.145.46 0z" fill="#fff"></path>
                  <path d="M55.55 58.463c.145-.12.363-.12.484.024l1.478 1.696a.346.346 0 01-.049.484c-.145.121-.363.121-.484-.024L55.5 58.948c-.12-.121-.096-.34.049-.485z" fill="#F3F3F3"></path>
                  <path d="M55.525 58.463a.38.38 0 01.532.024l1.478 1.696c.145.145.12.387-.049.533a.38.38 0 01-.532-.025l-1.478-1.695c-.12-.17-.12-.412.049-.533zm1.937 2.204c.145-.12.145-.315.049-.46l-1.478-1.695a.337.337 0 00-.46-.025c-.145.122-.145.316-.048.46l1.477 1.696c.121.145.315.145.46.024z" fill="#fff"></path>
                  <path d="M52.062 57.543a.328.328 0 01.484.097l2.809 4.19c.097.17.049.387-.097.484a.328.328 0 01-.484-.097l-2.81-4.19c-.096-.169-.048-.387.097-.484z" fill="#F3F3F3"></path>
                  <path d="M52.06 57.519a.387.387 0 01.533.097l2.81 4.19a.372.372 0 01-.122.532.387.387 0 01-.533-.096l-2.809-4.19a.368.368 0 01.121-.533zm3.197 4.771a.316.316 0 00.097-.436l-2.81-4.19c-.096-.145-.29-.17-.46-.072a.315.315 0 00-.097.436l2.81 4.19c.097.12.315.169.46.072z" fill="#fff"></path>
                  <path d="M51.551 61.127a.353.353 0 01.484.121l1.115 1.962c.096.17.023.388-.146.484a.352.352 0 01-.484-.12l-1.114-1.962c-.073-.17-.024-.388.145-.485z" fill="#F3F3F3"></path>
                  <path d="M51.553 61.103c.194-.097.412-.048.509.121l1.114 1.962c.097.17.048.412-.145.508-.194.097-.412.049-.51-.12l-1.113-1.962c-.097-.17-.049-.388.145-.509zm1.453 2.567c.146-.096.218-.29.121-.436l-1.114-1.961a.348.348 0 00-.436-.122c-.145.097-.218.291-.12.436l1.113 1.962c.073.145.29.218.436.121z" fill="#fff"></path>
                  <path d="M48.331 59.529c.194-.073.388 0 .46.17l1.962 4.674c.073.17-.024.387-.194.46-.169.073-.387 0-.46-.17l-1.961-4.674c-.073-.17.024-.387.193-.46z" fill="#F3F3F3"></path>
                  <path d="M48.332 59.505a.402.402 0 01.508.194l1.962 4.674a.377.377 0 01-.218.484.401.401 0 01-.508-.194l-1.962-4.674c-.073-.17.024-.387.218-.484zm2.204 5.304c.17-.073.242-.267.17-.412l-1.963-4.674c-.072-.17-.266-.242-.435-.17-.17.073-.243.267-.17.412l1.962 4.674c.097.17.266.242.436.17z" fill="#fff"></path>
                  <path d="M47.144 62.968c.194-.073.388.024.46.218l.703 2.131c.072.17-.049.388-.218.436-.194.073-.388-.024-.46-.218l-.703-2.131c-.072-.17.025-.363.218-.436z" fill="#F3F3F3"></path>
                  <path d="M47.12 62.944a.377.377 0 01.484.218l.703 2.131c.072.194-.049.412-.243.484a.376.376 0 01-.484-.218l-.702-2.13a.412.412 0 01.242-.485zm.944 2.785c.17-.049.267-.242.218-.412l-.702-2.131c-.048-.17-.242-.242-.412-.194-.17.049-.266.242-.218.412l.703 2.131a.305.305 0 00.411.194z" fill="#fff"></path>
                  <path d="M44.288 60.764c.194-.048.388.073.412.267l1.017 4.965c.048.193-.097.363-.29.411-.194.049-.388-.072-.412-.266l-1.018-4.965a.388.388 0 01.29-.412h.001z" fill="#F3F3F3"></path>
                  <path d="M44.286 60.74a.39.39 0 01.46.29l1.017 4.966c.049.193-.097.411-.29.435a.39.39 0 01-.46-.29l-1.018-4.965c-.048-.194.073-.388.29-.436zm1.138 5.643c.17-.024.29-.194.266-.388l-1.017-4.965c-.024-.169-.218-.29-.387-.242-.17.025-.29.194-.267.388l1.018 4.965c.048.17.217.266.387.242z" fill="#fff"></path>
                  <path d="M42.446 63.913a.372.372 0 01.412.29l.29 2.228a.353.353 0 01-.314.388.372.372 0 01-.412-.29l-.29-2.229a.353.353 0 01.314-.387z" fill="#F3F3F3"></path>
                  <path d="M42.447 63.888c.218-.024.412.122.436.315l.29 2.228a.377.377 0 01-.338.412c-.218.024-.412-.121-.436-.315l-.29-2.228a.377.377 0 01.338-.412zm.363 2.907c.17-.025.315-.194.291-.364l-.29-2.228a.325.325 0 00-.364-.266c-.17.024-.315.194-.29.363l.29 2.228c.024.17.194.29.363.266z" fill="#fff"></path>
                  <path d="M39.951 61.2c.194 0 .363.145.363.34v5.06c0 .195-.17.34-.363.34-.194 0-.363-.145-.363-.34v-5.06c.024-.194.17-.34.363-.34z" fill="#F3F3F3"></path>
                  <path d="M39.952 61.176c.218 0 .388.17.388.363v5.062c0 .194-.17.363-.388.363s-.387-.17-.387-.363v-5.062c0-.194.193-.363.387-.363zm0 5.74c.17 0 .339-.145.339-.315v-5.062c0-.17-.145-.315-.339-.315-.17 0-.339.146-.339.315v5.062c.024.17.17.315.339.315z" fill="#fff"></path>
                  <path d="M37.53 63.913c.193.024.339.169.339.363l-.17 2.252a.353.353 0 01-.387.315c-.194-.024-.34-.17-.34-.363l.17-2.253a.353.353 0 01.388-.315z" fill="#F3F3F3"></path>
                  <path d="M37.53 63.888a.393.393 0 01.364.388l-.17 2.252c-.024.194-.193.363-.411.34a.393.393 0 01-.364-.388l.17-2.253c.024-.218.194-.363.412-.339zm-.218 2.93c.17 0 .34-.12.34-.29l.17-2.252c0-.17-.122-.315-.316-.34-.17 0-.339.122-.339.292l-.17 2.252c0 .17.146.315.316.339z" fill="#fff"></path>
                  <path d="M35.712 60.764a.372.372 0 01.291.412l-.993 4.965c-.048.194-.218.315-.412.266a.372.372 0 01-.29-.412l.993-4.965c.024-.169.218-.29.411-.266z" fill="#F3F3F3"></path>
                  <path d="M35.712 60.74a.395.395 0 01.315.436l-.993 4.965a.39.39 0 01-.46.29.395.395 0 01-.315-.436l.993-4.965c.048-.193.242-.315.46-.29zm-1.138 5.643a.347.347 0 00.387-.242l.993-4.965a.343.343 0 00-.266-.388.348.348 0 00-.388.243l-.993 4.964c-.024.194.097.34.267.388z" fill="#fff"></path>
                  <path d="M32.807 62.944a.36.36 0 01.267.436l-.606 2.18c-.048.193-.242.29-.436.242a.359.359 0 01-.272-.295.362.362 0 01.006-.141l.605-2.18c.049-.194.243-.29.436-.242z" fill="#F3F3F3"></path>
                  <path d="M32.807 62.92c.194.048.34.266.267.46l-.606 2.18a.386.386 0 01-.46.266c-.194-.048-.339-.266-.266-.46l.605-2.18c.049-.194.242-.315.46-.267zm-.799 2.833c.17.049.363-.048.412-.218l.605-2.18c.049-.169-.048-.338-.242-.387-.17-.049-.363.048-.412.218l-.605 2.18a.347.347 0 00.242.387z" fill="#fff"></path>
                  <path d="M31.621 59.529c.194.072.267.29.194.46l-1.937 4.674c-.073.17-.291.267-.46.17-.17-.097-.267-.29-.194-.46l1.937-4.675c.073-.169.29-.266.46-.169z" fill="#F3F3F3"></path>
                  <path d="M31.62 59.505a.376.376 0 01.219.484L29.9 64.663c-.072.194-.29.267-.508.194a.376.376 0 01-.218-.484l1.937-4.675c.097-.193.315-.29.509-.193zm-2.203 5.304c.17.072.363 0 .436-.17l1.937-4.674c.073-.17-.024-.34-.193-.412a.329.329 0 00-.436.17l-1.938 4.674a.345.345 0 00.194.412z" fill="#fff"></path>
                  <path d="M28.35 61.079c.17.097.242.29.17.46l-1.018 2.01a.354.354 0 01-.484.145c-.17-.096-.242-.29-.17-.46l1.018-2.01a.354.354 0 01.484-.145z" fill="#F3F3F3"></path>
                  <path d="M28.35 61.055a.37.37 0 01.17.508l-1.018 2.01a.37.37 0 01-.508.17.37.37 0 01-.17-.509l1.017-2.01a.37.37 0 01.509-.17zm-1.332 2.64c.17.072.363.024.435-.146l1.018-2.01c.072-.145 0-.339-.145-.436-.17-.072-.364-.024-.436.145l-1.018 2.01c-.072.146 0 .34.146.436z" fill="#fff"></path>
                  <path d="M27.867 57.495c.17.12.218.339.097.484l-2.81 4.19c-.096.17-.315.194-.484.097-.17-.121-.218-.34-.097-.485l2.81-4.19a.328.328 0 01.484-.096z" fill="#F3F3F3"></path>
                  <path d="M27.866 57.47c.17.122.218.364.121.533l-2.81 4.19a.383.383 0 01-.532.097.419.419 0 01-.121-.533l2.81-4.19a.387.387 0 01.532-.097zm-3.197 4.772c.145.096.364.072.46-.073l2.81-4.19a.316.316 0 00-.097-.436c-.145-.097-.363-.072-.46.072l-2.81 4.166a.344.344 0 00.097.46z" fill="#fff"></path>
                  <path d="M24.33 58.39c.146.122.194.34.073.485L23 60.643a.345.345 0 01-.485.048c-.145-.12-.194-.339-.072-.484l1.404-1.768a.345.345 0 01.485-.048z" fill="#F3F3F3"></path>
                  <path d="M24.355 58.367c.17.12.194.363.072.532l-1.404 1.768c-.121.17-.363.194-.533.049-.17-.122-.194-.364-.072-.533l1.404-1.768c.121-.17.363-.194.533-.048zm-1.816 2.3c.145.121.339.097.46-.048l1.404-1.768a.343.343 0 00-.072-.46c-.146-.121-.34-.097-.46.048l-1.405 1.768c-.097.145-.073.363.072.46z" fill="#fff"></path>
                  <path d="M24.573 54.758c.145.145.145.363 0 .484l-3.584 3.56a.343.343 0 01-.485 0c-.12-.12-.145-.363 0-.484l3.56-3.56a.351.351 0 01.51 0z" fill="#F3F3F3"></path>
                  <path d="M24.597 54.734a.38.38 0 010 .532l-3.584 3.56a.38.38 0 01-.533 0 .38.38 0 010-.532l3.584-3.56a.38.38 0 01.533 0zm-4.093 4.068a.337.337 0 00.46 0l3.585-3.56a.336.336 0 000-.46.336.336 0 00-.46 0l-3.585 3.56c-.12.121-.12.315 0 .46z" fill="#fff"></path>
                  <path d="M20.94 54.952c.12.145.12.363-.025.484l-1.72 1.453a.346.346 0 01-.484-.048c-.121-.146-.121-.364.024-.485l1.72-1.453a.345.345 0 01.484.049z" fill="#F3F3F3"></path>
                  <path d="M20.964 54.927c.145.17.121.412-.024.533l-1.72 1.453c-.145.146-.387.122-.532-.048-.146-.17-.122-.412.024-.533l1.72-1.453c.144-.145.387-.121.532.049zm-2.228 1.914c.121.145.315.145.46.048l1.72-1.453a.337.337 0 00.024-.46c-.121-.145-.315-.145-.46-.048l-1.72 1.453c-.145.12-.145.315-.024.46z" fill="#fff"></path>
                  <path d="M21.91 51.464a.328.328 0 01-.098.485L17.6 54.758c-.17.097-.388.048-.485-.097a.328.328 0 01.097-.485l4.214-2.809c.146-.096.363-.048.485.097z" fill="#F3F3F3"></path>
                  <path d="M21.933 51.464a.387.387 0 01-.098.533l-4.213 2.81a.372.372 0 01-.533-.122.387.387 0 01.097-.532l4.214-2.81a.372.372 0 01.532.121zm-4.796 3.173c.097.145.29.194.436.097l4.214-2.81c.146-.096.194-.29.073-.46a.316.316 0 00-.436-.097l-4.214 2.81a.343.343 0 00-.073.46z" fill="#fff"></path>
                  <path d="M18.3 50.956a.353.353 0 01-.121.484l-1.962 1.114c-.17.097-.387.024-.484-.145a.353.353 0 01.121-.485l1.962-1.114c.17-.097.387-.024.484.145z" fill="#F3F3F3"></path>
                  <path d="M18.325 50.931c.096.194.048.412-.122.509l-1.962 1.114c-.169.097-.411.024-.508-.145-.097-.194-.049-.412.121-.509l1.962-1.114c.17-.097.412-.024.508.145zm-2.568 1.454c.097.169.29.218.436.12l1.962-1.114a.348.348 0 00.121-.435c-.097-.17-.29-.219-.436-.122l-1.962 1.114c-.145.073-.194.267-.12.437h-.001z" fill="#fff"></path>
                  <path d="M19.922 47.734c.073.194 0 .388-.194.46l-4.674 1.938c-.17.073-.387-.024-.46-.194-.073-.194 0-.387.194-.46l4.674-1.937c.17-.073.388 0 .46.194z" fill="#F3F3F3"></path>
                  <path d="M19.946 47.71a.401.401 0 01-.193.509l-4.675 1.937a.376.376 0 01-.484-.218.401.401 0 01.194-.508l4.674-1.938a.376.376 0 01.484.218zm-5.304 2.204c.073.17.267.242.412.194l4.674-1.938a.328.328 0 00.17-.436.345.345 0 00-.412-.193l-4.674 1.937a.329.329 0 00-.17.436z" fill="#fff"></path>
                  <path d="M16.509 46.523c.072.194-.025.388-.218.46l-2.132.703c-.17.072-.387-.048-.436-.218-.072-.194.024-.388.218-.46l2.132-.703c.169-.072.363.025.436.218z" fill="#F3F3F3"></path>
                  <path d="M16.532 46.5a.37.37 0 01-.242.484l-2.131.702c-.194.072-.412-.048-.485-.242a.37.37 0 01.243-.485l2.13-.702a.412.412 0 01.485.242zm-2.81.92c.05.17.243.266.413.218l2.13-.703c.17-.048.243-.242.195-.411-.049-.17-.243-.267-.412-.218l-2.131.702a.334.334 0 00-.194.412z" fill="#fff"></path>
                  <path d="M18.689 43.642c.048.193-.073.387-.267.411l-4.965.969c-.193.049-.363-.097-.411-.29-.049-.194.072-.388.266-.413l4.965-.968c.194-.024.388.097.412.29z" fill="#F3F3F3"></path>
                  <path d="M18.738 43.642a.39.39 0 01-.29.46l-4.966.968c-.193.049-.387-.096-.435-.315a.39.39 0 01.29-.46l4.965-.968c.194-.049.387.096.436.315zm-5.643 1.09c.024.169.194.29.363.266l4.965-.969c.17-.024.29-.218.242-.388a.325.325 0 00-.363-.266l-4.965.969c-.17.048-.29.218-.242.387z" fill="#fff"></path>
                  <path d="M15.589 41.777c.024.193-.097.363-.29.387l-2.229.267a.352.352 0 01-.387-.316.335.335 0 01.29-.387l2.228-.266c.17-.025.364.12.388.315z" fill="#F3F3F3"></path>
                  <path d="M15.612 41.777c.024.218-.122.411-.315.435l-2.228.267a.377.377 0 01-.412-.339c-.024-.218.12-.412.315-.436l2.228-.267a.377.377 0 01.411.34zm-2.931.339c.024.17.194.315.363.29l2.228-.266a.325.325 0 00.267-.363c-.024-.17-.194-.315-.363-.291l-2.229.267a.325.325 0 00-.266.363z" fill="#fff"></path>
                  <path d="M18.3 39.427c0 .194-.145.364-.339.364H12.9c-.194 0-.34-.17-.34-.363 0-.194.146-.364.34-.364h5.061c.194 0 .34.17.34.364H18.3z" fill="#F3F3F3"></path>
                  <path d="M18.325 39.427c0 .218-.17.388-.363.388H12.9c-.193 0-.363-.17-.363-.388s.17-.387.363-.387h5.062c.194 0 .363.17.363.387zm-5.74-.024c0 .17.146.34.315.34h5.062c.17 0 .315-.146.315-.34 0-.17-.146-.339-.315-.339H12.9c-.17.024-.314.17-.314.34z" fill="#fff"></path>
                  <path d="M15.613 36.981c-.024.194-.17.34-.364.34l-2.252-.17a.353.353 0 01-.315-.388c.024-.194.17-.339.364-.339l2.252.17c.17.024.315.194.315.387z" fill="#E2E2E2"></path>
                  <path d="M15.637 36.981a.393.393 0 01-.387.363l-2.253-.169c-.193-.024-.363-.194-.338-.412a.393.393 0 01.387-.363l2.252.17c.194.024.34.218.34.411zm-2.954-.218c-.024.17.12.34.29.34l2.253.169c.17 0 .315-.121.339-.315a.306.306 0 00-.29-.339l-2.253-.17c-.17 0-.315.146-.34.316z" fill="#fff"></path>
                  <path d="M18.738 35.213a.373.373 0 01-.412.291l-4.965-1.017c-.194-.049-.315-.218-.266-.412a.372.372 0 01.411-.29l4.965.993c.17.048.29.242.267.435z" fill="#F3F3F3"></path>
                  <path d="M18.761 35.213a.395.395 0 01-.436.315l-4.964-.993a.39.39 0 01-.291-.46.395.395 0 01.436-.315l4.965.993c.194.049.314.242.29.46zm-5.643-1.138a.347.347 0 00.242.387l4.966.993a.343.343 0 00.387-.266.348.348 0 00-.242-.388l-4.965-.992c-.194-.024-.339.097-.388.266z" fill="#fff"></path>
                  <path d="M16.556 32.307a.36.36 0 01-.436.267l-2.18-.606c-.194-.049-.29-.242-.242-.436a.36.36 0 01.436-.266l2.18.605c.193.049.29.242.242.436z" fill="#F3F3F3"></path>
                  <path d="M16.581 32.307c-.048.194-.266.34-.46.267l-2.18-.606a.387.387 0 01-.266-.46c.048-.194.266-.34.46-.267l2.18.606c.194.048.315.242.266.46zm-2.833-.8c-.049.17.048.364.218.412l2.18.606c.169.048.338-.049.387-.242.048-.17-.049-.364-.218-.412l-2.18-.605a.347.347 0 00-.387.242z" fill="#fff"></path>
                  <path d="M19.97 31.145a.346.346 0 01-.46.193l-4.675-1.937c-.17-.073-.266-.29-.194-.46a.347.347 0 01.46-.194l4.675 1.938c.194.072.267.29.194.46z" fill="#F3F3F3"></path>
                  <path d="M19.995 31.169a.377.377 0 01-.484.218l-4.674-1.938c-.194-.072-.267-.29-.194-.508a.377.377 0 01.484-.218l4.675 1.937a.402.402 0 01.193.509zm-5.304-2.204c-.072.17 0 .363.17.436l4.674 1.937c.17.073.34-.024.412-.194a.328.328 0 00-.17-.435l-4.674-1.938c-.17-.048-.363.024-.412.194z" fill="#fff"></path>
                  <path d="M18.395 27.875c-.096.17-.29.242-.46.17l-2.01-1.018c-.17-.072-.242-.29-.145-.484.097-.17.29-.242.46-.17l2.01 1.018c.17.097.242.315.145.484z" fill="#F3F3F3"></path>
                  <path d="M18.42 27.9a.37.37 0 01-.508.169l-2.01-1.017a.37.37 0 01-.17-.509.37.37 0 01.509-.17l2.01 1.018c.194.072.266.315.17.508zm-2.615-1.333c-.073.17-.024.363.145.436l2.01 1.017c.146.073.34 0 .436-.145.073-.17.024-.363-.145-.436l-2.035-1.017a.299.299 0 00-.412.145z" fill="#fff"></path>
                  <path d="M21.958 27.415c-.12.17-.314.218-.484.097l-4.19-2.785c-.17-.097-.193-.315-.097-.485a.328.328 0 01.485-.097l4.214 2.81c.145.097.194.315.072.46z" fill="#F3F3F3"></path>
                  <path d="M21.98 27.439a.418.418 0 01-.532.121l-4.19-2.81a.383.383 0 01-.097-.532.419.419 0 01.533-.121l4.19 2.81c.193.12.218.363.096.532zm-4.77-3.197c-.097.145-.073.363.072.46l4.214 2.81a.315.315 0 00.436-.097c.097-.145.073-.363-.072-.46l-4.215-2.81a.316.316 0 00-.436.097z" fill="#fff"></path>
                  <path d="M21.06 23.903c-.121.146-.34.194-.484.073l-1.768-1.38a.346.346 0 01-.049-.485c.121-.145.34-.194.485-.073l1.767 1.38c.146.122.17.34.049.485z" fill="#F3F3F3"></path>
                  <path d="M21.086 23.927c-.121.17-.363.194-.533.073l-1.768-1.38c-.17-.121-.194-.364-.073-.533.122-.17.364-.194.533-.072l1.768 1.38c.17.121.194.363.073.533zm-2.325-1.816c-.121.145-.097.339.048.46l1.768 1.38a.343.343 0 00.46-.072c.122-.145.097-.339-.048-.46l-1.768-1.38a.343.343 0 00-.46.072z" fill="#fff"></path>
                  <path d="M24.67 24.145c-.146.146-.364.146-.485 0l-3.608-3.56a.343.343 0 010-.484c.145-.145.363-.145.484 0l3.584 3.56a.345.345 0 01.025.484z" fill="#F3F3F3"></path>
                  <path d="M24.668 24.17a.38.38 0 01-.533 0l-3.585-3.56a.38.38 0 010-.534.38.38 0 01.533 0l3.585 3.56c.17.146.17.388 0 .533zm-4.069-4.045a.336.336 0 000 .46l3.585 3.56a.336.336 0 00.46 0 .336.336 0 000-.46l-3.584-3.584c-.121-.121-.316-.121-.46.024z" fill="#fff"></path>
                  <path d="M24.451 20.537c-.145.121-.363.121-.484-.024l-1.478-1.696a.345.345 0 01.05-.484c.144-.121.362-.121.483.024l1.478 1.695c.12.122.097.34-.049.485z" fill="#F3F3F3"></path>
                  <path d="M24.475 20.537a.38.38 0 01-.533-.024l-1.477-1.696c-.146-.145-.122-.387.048-.532a.38.38 0 01.533.024l1.477 1.695c.121.17.121.412-.048.533zm-1.938-2.204c-.145.121-.145.315-.048.46l1.477 1.695a.336.336 0 00.46.024c.146-.12.146-.314.049-.46l-1.478-1.695c-.12-.145-.315-.145-.46-.024z" fill="#fff"></path>
                  <path d="M27.939 21.457a.328.328 0 01-.485-.097l-2.833-4.19c-.097-.17-.049-.387.097-.484a.328.328 0 01.484.097l2.81 4.19a.342.342 0 01-.073.484z" fill="#F3F3F3"></path>
                  <path d="M27.94 21.481a.387.387 0 01-.534-.097l-2.809-4.19a.372.372 0 01.121-.532.387.387 0 01.533.097l2.81 4.19a.369.369 0 01-.122.532zm-3.198-4.77a.315.315 0 00-.097.435l2.81 4.19c.097.145.29.17.46.073a.315.315 0 00.097-.436l-2.81-4.166a.345.345 0 00-.46-.097z" fill="#fff"></path>
                  <path d="M28.447 17.873a.353.353 0 01-.485-.121l-1.114-1.962c-.097-.17-.024-.387.146-.484a.353.353 0 01.484.12l1.114 1.962c.073.17.024.388-.145.485z" fill="#F3F3F3"></path>
                  <path d="M28.448 17.897c-.193.097-.411.049-.508-.121l-1.114-1.962c-.097-.17-.049-.412.145-.508.194-.097.412-.049.509.12l1.114 1.962c.097.17.048.388-.145.509zm-1.453-2.567c-.145.097-.218.29-.12.436l1.113 1.961c.097.145.29.194.436.122.146-.097.218-.291.121-.436l-1.114-1.962c-.072-.145-.29-.218-.436-.121z" fill="#fff"></path>
                  <path d="M31.669 19.471c-.194.073-.388 0-.46-.17l-1.962-4.674c-.073-.17.024-.387.194-.46.194-.072.387 0 .46.17l1.962 4.674c.072.17-.024.387-.194.46z" fill="#F3F3F3"></path>
                  <path d="M31.668 19.495a.402.402 0 01-.508-.194l-1.962-4.673a.376.376 0 01.218-.485.402.402 0 01.509.194l1.961 4.674c.073.17-.024.387-.217.485zm-2.203-5.304c-.17.073-.243.267-.17.412l1.962 4.674c.072.17.266.242.435.17.17-.073.243-.267.17-.412L29.9 14.361c-.097-.17-.266-.243-.436-.17z" fill="#fff"></path>
                  <path d="M32.856 16.032c-.194.073-.388-.024-.46-.218l-.703-2.131c-.072-.17.049-.388.218-.436.17-.049.388.024.46.218l.703 2.131c.072.17-.024.364-.218.436z" fill="#F3F3F3"></path>
                  <path d="M32.88 16.056a.377.377 0 01-.484-.218l-.703-2.131c-.072-.194.049-.412.243-.484a.377.377 0 01.484.218l.702 2.131a.412.412 0 01-.242.484zm-.945-2.785c-.17.048-.266.242-.218.412l.703 2.131c.048.17.242.242.412.194.17-.048.266-.242.217-.412l-.702-2.131a.305.305 0 00-.412-.194z" fill="#fff"></path>
                  <path d="M35.714 18.236c-.194.049-.388-.073-.412-.267l-1.017-4.964c-.049-.194.097-.364.29-.412.194-.049.388.072.412.267l1.017 4.965a.388.388 0 01-.29.411z" fill="#F3F3F3"></path>
                  <path d="M35.714 18.26a.39.39 0 01-.46-.29l-1.018-4.965c-.048-.194.097-.412.29-.436a.39.39 0 01.46.29l1.018 4.966c.049.193-.072.387-.29.435zm-1.139-5.643c-.17.024-.29.194-.266.388l1.017 4.965c.024.169.218.29.388.242.169-.024.29-.194.266-.388l-1.017-4.965a.348.348 0 00-.388-.242z" fill="#fff"></path>
                  <path d="M37.553 15.088a.372.372 0 01-.412-.291l-.29-2.228a.353.353 0 01.314-.388.372.372 0 01.412.291l.29 2.228a.353.353 0 01-.314.388z" fill="#F3F3F3"></path>
                  <path d="M37.553 15.112c-.218.024-.411-.121-.436-.315l-.29-2.228a.377.377 0 01.339-.412c.218-.024.412.121.436.315l.29 2.228a.377.377 0 01-.339.412zm-.363-2.906c-.17.024-.315.193-.29.363l.29 2.228c.024.17.194.29.363.266.17-.024.315-.194.291-.363l-.29-2.228a.325.325 0 00-.364-.266z" fill="#fff"></path>
                  <path d="M40.171 68.15c15.837 0 28.675-12.838 28.675-28.674 0-15.837-12.838-28.675-28.675-28.675-15.837 0-28.675 12.838-28.675 28.675 0 15.837 12.838 28.675 28.675 28.675z" fill="url(#safari_color_svg__paint2_linear)" fill-opacity="0.2"></path>
                  <g filter="url(#safari_color_svg__filter2_d)">
                    <path d="M60.028 21.288l-23.13 14.821h-.024v.024l-.024.025-14.434 23.807 21.216-17.074.024-.024v-.024l16.372-21.555z" fill="#000" fill-opacity="0.05"></path>
                  </g>
                  <path d="M59.593 19.907L36.73 36.157l6.782 6.734 16.081-22.984z" fill="#CD151E"></path>
                  <path d="M36.754 36.11l3.415 3.366 19.423-19.569-22.838 16.202z" fill="#FA5153"></path>
                  <path d="M36.755 36.11l6.781 6.732-22.862 16.251 16.081-22.984z" fill="#ACACAC"></path>
                  <path d="M20.674 59.093L40.17 39.476l-3.415-3.367-16.081 22.984z" fill="#EEE"></path>
                </g>
                <defs>
                  <filter id="safari_color_svg__filter0_ii" x="0" y="-1" width="80" height="81" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
                    <feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape"></feBlend>
                    <feColorMatrix in="SourceAlpha" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"></feColorMatrix>
                    <feOffset dy="-1"></feOffset>
                    <feGaussianBlur stdDeviation="0.5"></feGaussianBlur>
                    <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"></feComposite>
                    <feColorMatrix values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.12 0"></feColorMatrix>
                    <feBlend in2="shape" result="effect1_innerShadow"></feBlend>
                  </filter>
                  <filter id="safari_color_svg__filter1_d" x="8" y="8" width="64" height="64" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
                    <feColorMatrix in="SourceAlpha" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"></feColorMatrix>
                    <feOffset dy="0.5"></feOffset>
                    <feGaussianBlur stdDeviation="0.5"></feGaussianBlur>
                    <feColorMatrix values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.266007 0"></feColorMatrix>
                    <feBlend in2="BackgroundImageFix" result="effect1_dropShadow"></feBlend>
                    <feBlend in="SourceGraphic" in2="effect1_dropShadow" result="shape"></feBlend>
                  </filter>
                  <filter id="safari_color_svg__filter2_d" x="21.416" y="20.538" width="39.612" height="40.678" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
                    <feColorMatrix in="SourceAlpha" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"></feColorMatrix>
                    <feOffset dy="0.25"></feOffset>
                    <feGaussianBlur stdDeviation="0.5"></feGaussianBlur>
                    <feColorMatrix values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0"></feColorMatrix>
                    <feBlend in2="BackgroundImageFix" result="effect1_dropShadow"></feBlend>
                    <feBlend in="SourceGraphic" in2="effect1_dropShadow" result="shape"></feBlend>
                  </filter>
                  <linearGradient id="safari_color_svg__paint8_linear" x1="40" y1="70.5" x2="40" y2="8.5" gradientUnits="userSpaceOnUse">
                    <stop offset="0.25" stop-color="#DBDBDA"></stop>
                    <stop offset="1" stop-color="#fff"></stop>
                  </linearGradient>
                  <linearGradient id="safari_color_svg__paint2_linear" x1="39.626" y1="31.276" x2="26.242" y2="55.288" gradientUnits="userSpaceOnUse">
                    <stop stop-opacity="0"></stop>
                    <stop offset="1"></stop>
                  </linearGradient>
                  <radialGradient id="safari_color_svg__safari" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(44.028 33.201) scale(35.0019)">
                    <stop stop-color="#2ABCE1"></stop>
                    <stop offset="0.114" stop-color="#2ABBE1"></stop>
                    <stop offset="1" stop-color="#3375F8"></stop>
                  </radialGradient>
                </defs>
              </svg>
            </a>
          </div>
          <div class="col-4 p-3">
            <a href="https://api.whatsapp.com/send?phone=32342342342" target="_blank">
              
            </a>
          </div>
          <div class="col-4 p-3">
            <a href="https://api.whatsapp.com/send?phone=32342342342" target="_blank">
            </a>
          </div>
        </div>



      </div>
    </div>
  </section>
</div>