<footer class="footer" style="background-color: #02B967;">
    <div class="container-fluid">
        <div class="row text-muted">
            <div class="col-6 text-start">                
            </div>
            <div class="col-6 text-end">
                <p class="mb-0" style="color: white;">
                    &copy; 2024  <a href="https://postgrado.ucsm.edu.pe/"  style="color: white;">EPG - UCSM</a>
                </p>
            </div>
        </div>
    </div>
</footer>