<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Responsive Bootstrap 5 Admin &amp; Dashboard Template">
	<meta name="author" content="AgileX">
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />

	<link rel="icon" href="https://postgrado.ucsm.edu.pe/wp-content/uploads/2022/06/logo-epg-ucsm-v2-150x150.png" sizes="32x32" />
	<link rel="icon" href="https://postgrado.ucsm.edu.pe/wp-content/uploads/2022/06/logo-epg-ucsm-v2.png" sizes="192x192" />
	<link rel="apple-touch-icon" href="https://postgrado.ucsm.edu.pe/wp-content/uploads/2022/06/logo-epg-ucsm-v2.png" />
	<meta name="msapplication-TileImage" content="https://postgrado.ucsm.edu.pe/wp-content/uploads/2022/06/logo-epg-ucsm-v2.png" />

	<link rel="canonical" href="pages-blank.html" />
	<link rel="shortcut icon" href="img/favicon.ico">

<title>EPG &#8211; UCSM</title>



	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&amp;display=swap" rel="stylesheet">

	<link class="js-stylesheet" href="/assets/css/style.css" rel="stylesheet">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<script src="/assets/js/app.js"></script>
</head>

<body data-theme="default" data-layout="fluid" data-sidebar-position="left" data-sidebar-behavior="sticky">
	<div class="main d-flex justify-content-center w-100">
		<main class="content d-flex p-0">			
            <%- body %>
        </main>
	</div>

    

</body>
</html>
