<nav id="sidebar" class="sidebar" style="background-color: #000;">
    <div class="sidebar-content js-simplebar" style="background-color: #000;">
        <a class="sidebar-brand" href="/">
            <img src="https://postgrado.ucsm.edu.pe/wp-content/uploads/2022/03/Grupo-1@2x.png" class="img-fluid" style="max-height: 60px;">
        </a>
        <ul class="sidebar-nav" style="font-size: 16px;">
            <li class="sidebar-item">
                <a class="sidebar-link" href="/teacher">
                    <i class="fa-solid fa-house" style="color: #02B967;"></i> <span class="align-middle" style="color: #02B967;">Inicio</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="/teacher/update">
                    <i class="fa-solid fa-pen-to-square" style="color: #02B967;"></i> <span class="align-middle" style="color: #02B967;">Actualizar Datos</span>
                </a>
            </li>
        </ul>
    </div>
</nav>