<nav id="sidebar" class="sidebar">
    <div class="sidebar-content js-simplebar">
        <a class="sidebar-brand" href="/">
            <img src="/assets/img/logo_blanco.png" class="img-fluid" style="max-height: 37px;" />
        </a>
        <ul class="sidebar-nav" style="font-size: 16px;">

            <li class="sidebar-item">
                <a class="sidebar-link" asp-area="" asp-controller="Home" asp-action="Index">
                    <i class="fa-solid fa-list"></i> <span class="align-middle">Inicio</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="/persons">
                    <i class="fas fa-coins"></i> <span class="align-middle">Personas</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="/area">
                    <i class="fas fa-coins"></i> <span class="align-middle">Areas</span>
                </a>
            </li>

        </ul>
    </div>
</nav>
