<nav id="sidebar" class="sidebar" >
    <div class="sidebar-content js-simplebar" >
        <a class="sidebar-brand" href="/">
            <img src="/img/logow.png" class="img-fluid" style="max-height: 60px;">
        </a>
        <ul class="sidebar-nav" style="font-size: 16px;">
            <li class="sidebar-item">
                <a class="sidebar-link" href="/mascotas">
                    <i class="fa-solid fa-house" ></i> <span class="align-middle" >Mis Mascotas</span>
                </a>
            </li>
            



        </ul>
    </div>
</nav>