<div class="col-12">
    <form id="formCreate" action="/users/create" method="post">
      <div class="card border rounded-3">
        <div class="card-header  border-bottom p-3">
          <div class="d-sm-flex justify-content-between align-items-center">
            <h5 class="mb-2 mb-sm-0">Agregar Usuarios</h5>
          </div>
        </div>
        <div class="card-body">
          <div class="row">

            <% if (error != '') { %>
            <div class="text-danger"><%= error %>"</div>
            <% } else { %>
            <div class="col-md-4">
              <div class="form-group">
                <label for="Name" class="control-label">Nombre</label>
                <input name="name" id="name" class="form-control" type="text" />
                <span for="Name" class="text-danger"></span>
              </div>
              <div class="form-group">
                <label for="LastName" class="control-label">Apellido</label>
                <input name="lastName" id="lastName" class="form-control" type="text" />
                <span for="LastName" class="text-danger"></span>
              </div>
              <div class="form-group">
                <label for="Email" class="control-label">Email</label>
                <input name="email" id="email" class="form-control" type="text" />
                <span for="Email" class="text-danger"></span>
              </div>
              <div class="form-group">
                <label for="Password" class="control-label">Password</label>
                <input name="password" id="password" class="form-control" type="text" />
                <span for="Password" class="text-danger"></span>
              </div>
              <div class="form-group" style="display: none;">
                <label for="Role" class="control-label">Role</label>
                <select name="role" class="form-select" id="role">
                  <option value="1">uno</option>
                </select>
                <span for="Role" class="text-danger"></span>
              </div>
              <label for="enabled">Habilitado:</label>
              <input type="checkbox" id="enabled" name="enabled" value="true"><br>
            <% } %>
            </div>
          </div>
        </div>
        <div class="card-footer  border-bottom p-3">
          <div class="d-sm-flex justify-content-between align-items-center">
            <button class="btn btn-sm btn-info" type="button" onclick="window.location.href='/users'"><i class="fa-solid fa-arrow-left"></i>
              Regresar</button>
            <button class="btn btn-sm btn-primary" type="submit" id="btnSave"><i class="fa-solid fa-floppy-disk"></i> Agregar </button>
          </div>
        </div>
      </div>
    </form>
  </div>
  
  <script src="//cdnjs.cloudflare.com/ajax/libs/validate.js/0.13.1/validate.min.js"></script>
  <script>
    var constraints = {
      name: {
        presence: {
          message: "El nombre es requerido"
        },
        length: {
          minimum: 3,
          message: "debe tener al menos 6 caracteres"
        }
      },
      lastName: {
        presence: {
          message: "El apellido es requerido"
        },
        length: {
          minimum: 3,
          message: "Debe tener al menos 6 caracteres"
        }
      },
      email: {
        email: true,
        presence: {
          message: "El email es requerido"
        },
  
      },
      password: {
        presence: {
          message: "La contraseña es requerida"
        },
        length: {
          minimum: 6,
          message: "debe tener al menos 6 caracteres"
        }
      }
    };
  
    const form = document.getElementById('formCreate');
    form.addEventListener('submit', function(event) {
  
      const formData = new FormData(form);
      const data = Object.fromEntries(formData.entries());
      console.log(data);
  
      const errors = validate(data, constraints);
      console.log(errors);
      if (errors) {
  
        for (const field in errors) {
          const errorMessage = errors[field][0];
          const fieldElement = document.getElementById(field);
          fieldElement.classList.add('error');
          fieldElement.nextElementSibling.textContent = errorMessage;
        }
        event.preventDefault();
      } else {
        const btn = document.getElementById('btnSave');
        btn.innerHTML = '<i class="fa-solid fa-spinner fa-spin-pulse"></i> Procesando';
        btn.disabled = true;
      }
    });
  
  </script>


  