<a href="/companies/create" class="btn btn-primary float-end mt-n1"><i class="fas fa-plus"></i> Agregar</a>
<h1 class="h3 mb-3">Companías</h1>

<div class="row">
    <div class="col-12">
        <div class="card border rounded-3">
            <div class="card-body" style="min-height:500px">

            <p>Hols mundo</p>
            </div>
        </div>
    </div>
</div>

<link href="/assets/vendor/datatables/datatables-1.13.1/css/datatables.bootstrap5.min.css" rel="stylesheet" />
<script src="/assets/vendor/datatables/datatables-1.13.1/js/jquery.datatables.min.js"></script>
<script src="/assets/vendor/datatables/datatables-1.13.1/js/datatables.bootstrap5.min.js"></script>

