<div class="col-12">
    <form id="formCreate" action="/companies/update" method="post">
      <div class="card border rounded-3">
        <div class="card-header  border-bottom p-3">
          <div class="d-sm-flex justify-content-between align-items-center">
            <h5 class="mb-2 mb-sm-0">Agregar compañia</h5>
          </div>
        </div>
        <div class="card-body">
          <div class="row">

  
            <% if (error != '') { %>
            <div class="text-danger"><%= error %>"</div>
            <% } else { %>
            <input type="hidden" name="UniqueId" id="UniqueId" value="<%= company.UniqueId %>" />
            <div class="col-md-4">
              <div class="form-group">
                <label for="Name" class="control-label">Nombre</label>
                <input name="Name" id="Name" class="form-control" type="text" value="<%= company.Name %>" />
                <span for="Name" class="text-danger"></span>
              </div>
              <div style="display: none;">
              <div class="form-group">
                <label for="Email" class="control-label">Email</label>
                <input name="Email" id="Email" class="form-control" type="text" />
                <span for="Email" class="text-danger"></span>
              </div>

              <label for="Whatsapp">Whatsapp:</label>
              <input type="checkbox" id="Whatsapp" name="Whatsapp" value="true"><br>
              
              <label for="Instagram">Instagram:</label>
              <input type="checkbox" id="Instagram" name="Instagram" value="true"><br>
              
              <label for="Telegram">Telegram:</label>
              <input type="checkbox" id="Telegram" name="Telegram" value="true"><br>
              
              <label for="Facebook">Facebook:</label>
              <input type="checkbox" id="Facebook" name="Facebook" value="true"><br>
              
              <label for="Youtube">Youtube:</label>
              <input type="checkbox" id="Youtube" name="Youtube" value="true"><br>
              
              <label for="TikTok">TikTok:</label>
              <input type="checkbox" id="TikTok" name="TikTok" value="true"><br>
              
              <label for="Twitter">Twitter:</label>
              <input type="checkbox" id="Twitter" name="Twitter" value="true"><br>
              
              <label for="Snapchat">Snapchat:</label>
              <input type="checkbox" id="Snapchat" name="Snapchat" value="true"><br>
              
              <label for="Spotify">Spotify:</label>
              <input type="checkbox" id="Spotify" name="Spotify" value="true"><br>
              
              <label for="Website">Website:</label>
              <input type="checkbox" id="Website" name="Website" value="true"><br>
              
              <label for="Linkedin">Linkedin:</label>
              <input type="checkbox" id="Linkedin" name="Linkedin" value="true"><br>
              
              <label for="Paypal">Paypal:</label>
              <input type="checkbox" id="Paypal" name="Paypal" value="true"><br>
              
              <div class="form-group">
                <label for="PhoneNumber" class="control-label">Celular</label>
                <input name="PhoneNumber" id="PhoneNumber" class="form-control" type="number" />
                <span for="PhoneNumber" class="text-danger"></span>
              </div>
              <div class="form-group">
                <label for="Address" class="control-label">Dirección</label>
                <input name="Address" id="Address" class="form-control" type="text" />
                <span for="Address" class="text-danger"></span>
              </div>
              <div class="form-group">
                <label for="FaceTime" class="control-label">FaceTime</label>
                <input name="FaceTime" id="FaceTime" class="form-control" type="text" />
                <span for="FaceTime" class="text-danger"></span>
              </div>

              <label for="Status">Estado</label>
              <input type="checkbox" id="Status" name="Status" value="true"><br>
            </div>
            <label for="enabled">Habilitado:</label>
              <input type="checkbox" id="Enabled" name="Enabled" <%= company.Enabled ? 'checked' : '' %>><br>
            </div>
            <% } %>
          </div>
        </div>
        <div class="card-footer  border-bottom p-3">
          <div class="d-sm-flex justify-content-between align-items-center">
            <button class="btn btn-sm btn-info" type="button" onclick="window.location.href='/companies'"><i class="fa-solid fa-arrow-left"></i>
              Regresar</button>
            <button class="btn btn-sm btn-primary" type="submit" id="btnSave"><i class="fa-solid fa-floppy-disk"></i> Agregar </button>
          </div>
        </div>
      </div>
    </form>
  </div>
  
  <script src="//cdnjs.cloudflare.com/ajax/libs/validate.js/0.13.1/validate.min.js"></script>
  <script>
    var constraints = {
      name: {
        presence: {
          message: "El nombre es requerido"
        },
        length: {
          minimum: 3,
          message: "debe tener al menos 6 caracteres"
        }
      },
      // email: {
      //   email: true,
      //   presence: {
      //     message: "El email es requerido"
      //   },  
      // }
    };
  
    const form = document.getElementById('formCreate');
    form.addEventListener('submit', function(event) {
  
      const formData = new FormData(form);
      const data = Object.fromEntries(formData.entries());
      console.log(data);
  
      const errors = validate(data, constraints);
      console.log(errors);
      if (errors) {
  
        for (const field in errors) {
          const errorMessage = errors[field][0];
          const fieldElement = document.getElementById(field);
          fieldElement.classList.add('error');
          fieldElement.nextElementSibling.textContent = errorMessage;
        }
        event.preventDefault();
      } else {
        const btn = document.getElementById('btnSave');
        btn.innerHTML = '<i class="fa-solid fa-spinner fa-spin-pulse"></i> Procesando';
        btn.disabled = true;
      }
    });
  
  </script>


  