<div class="col-12">
  <div class="card border rounded-3">
    <div class="card-header  border-bottom p-3">
      <div class="d-sm-flex justify-content-between align-items-center">
        <h5 class="mb-2 mb-sm-0">Detalle Usuarios</h5>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <% if (error != '') { %>
        <div class="text-danger"><%= error %>"</div>
        <% } else { %>  
        <dl class="row">
          <dt class="col-sm-2"> Name </dt>
          <dd class="col-sm-10"> <%= user.Name %> </dd>
        </dl>
        <dl class="row">
          <dt class="col-sm-2"> Email </dt>
          <dd class="col-sm-10"> <%= user.Email %> </dd>
        </dl>
        <dl class="row">
          <dt class="col-sm-2"> Password </dt>
          <dd class="col-sm-10"> <%= user.Password %> </dd>
        </dl>
        <% } %>
      </div>
    </div>
    <div class="card-footer  border-bottom p-3">
      <div class="d-sm-flex justify-content-between align-items-center">
        <button class="btn btn-sm btn-info" type="button" onclick="window.location.href='/users'"><i class="fa-solid fa-arrow-left"></i>
          Regresar</button>
        <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-UniqueId="@Model.UniqueId"><i class="fa-solid fa-pen-to-square"></i> Editar</a>
      </div>
    </div>
  </div>
</div>